<p align="center">
<img src="https://github.com/datacamp/python-live-training-template/blob/master/assets/datacamp.svg?raw=True" alt = "DataCamp icon" width="50%">
</p>
<br><br>

## **Cleaning Data with Pyspark**

Welcome to this hands-on training where we will investigate cleaning a dataset using Python and Apache Spark! During this training, we will cover:

* Efficiently loading data into a Spark DataFrame
* Handling errant rows / columns from the dataset, including comments, missing data, combined or misinterpreted columns, etc.
* Using Python UDFs to run advanced transformations on data


## **The Dataset**

The dataset used in this webinar is a set of CSV files named `netflix_titles_raw*.csv`. These contain information related to the movies and television shows available on Netflix. These are the *dirty* versions of the dataset - we will cover the individual problems as we work through the notebook.

Given that this is a data cleaning webinar, let's look at our intended result.  The dataset will contain the follwing information:

- `show_id`: A unique integer identifier for the show
- `type`: The type of content, `Movie` or `TV Show`
- `title`: The title of the content
- `director`: The director (or directors)
- `cast`: The cast
- `country`: Country (or countries) where the content is available
- `date_added`: Date added to Netflix
- `release_year`: Year of content release
- `rating`: Content rating
- `duration`: The duration
- `listed_in`: The genres the content is listed in
- `description`: A description of the content

## **Setting up a PySpark session**

Before we can start processing our data, we need to configure a Pyspark session for Google Colab. Note that this is specific for using Spark and Python in Colab and likely is not required for other environments.

In [0]:
# Run this code as is to install Spark in Colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
# Run this code to setup the environment
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
# Finally, setup our Spark session
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

## **Getting started**

Before doing anything else, lets copy our data files locally. We'll be using `wget`, `ls`, `gunzip`, and `head`, which are normally shell commands. In the notebook environment, we can run any given shell command using the precursor `!`. The purpose of our shell commands are as follows:

- `wget` - Is an HTTP client that will download our data files and save them locally in our notebook environment.
- `ls` - Used to list the files in a directory.
- `gunzip` - Our data files are compressed using the `gzip` compression format. `gunzip` allows us to decompress those files.
- `head` - Much like the `.head()` command in Pandas, the shell command `head` defaults to printing out the first 10 lines of a file. You can specify more or fewer lines if desired. 

This is an example of some of these commands being executed in a traditional shell environment:

![Shell Commands](https://github.com/datacamp/data-cleaning-with-pyspark-live-training/raw/master/assets/SparkLiveTraining-shellcommands.png)

Let's run the follwing cell to pull the *dirty* files locally. We'll be writing the files to the `/tmp` directory in the notebook environment.

In [0]:
# Copy our dataset locally

!wget -O /tmp/netflix_titles_dirty_01.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_01.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_02.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_02.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_03.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_03.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_04.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_04.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_05.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_05.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_06.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_06.csv.gz?raw=True'
!wget -O /tmp/netflix_titles_dirty_07.csv.gz 'https://github.com/datacamp/data-cleaning-with-pyspark-live-training/blob/master/data/netflix_titles_dirty_07.csv.gz?raw=True'

**Now, let's verify that we have all 7 files we expect**

Let's use the `ls` command to list files in the `/tmp` directory. Note that the `*` here is a wildcard, meaning match anything. Specifically, we're looking for `netflix_titles*`, which is match any file or directory that starts with `netflix_titles`.

In [0]:
!ls /tmp/netflix_titles*

/tmp/netflix_titles_dirty_01.csv.gz  /tmp/netflix_titles_dirty_05.csv.gz
/tmp/netflix_titles_dirty_02.csv.gz  /tmp/netflix_titles_dirty_06.csv.gz
/tmp/netflix_titles_dirty_03.csv.gz  /tmp/netflix_titles_dirty_07.csv.gz
/tmp/netflix_titles_dirty_04.csv.gz

**And then, we'll take a look at the first 20 rows of one of the files**

As mentioned earlier, `gunzip` is a decompression tool. The `-c` means to print out the result rather than write it to a file. The `|`, or pipe symbol, is used to pass the output of one command as the input to another command. In this case, we're using `head -20` to print the first 20 lines of the decompressed data.

Make sure to take a look at the contents of the data and notice that the separator used in this file is a tab character rather than a more traditional comma.

In [0]:
!gunzip -c /tmp/netflix_titles_dirty_03.csv.gz | head -20

80142103	Movie	Bottom of the World	Richard Sears	Jena Malone, Douglas Smith, Ted Levine, Tamara Duarte, Kelly Pendygraft, Mark Sivertsen, Jon McLaren	Canada, United States	March 31, 2017	2017	TV-MA	84 min	Dramas, Independent Movies, Thrillers	En route to a fresh start in Los Angeles, young couple Alex and Scarlett stop over in a sleepy Southwestern town that loosens their grip on reality.
80179907	Movie	Bridget Christie: Stand Up for Her		Bridget Christie	United Kingdom	March 31, 2017	2016	TV-MA	51 min	Stand-Up Comedy	Performing stand-up for a packed house in London's Hoxton Hall, comedian Bridget Christie dives into the politics of gender, sex and equality.
80152842	Movie	FirstBorn	Nirpal Bhogal	Antonia Thomas, Luke Norris, Thea Petrie, Eileen Davies, Jonathan Hyde	United Kingdom	March 31, 2017	2016	TV-MA	90 min	Horror Movies, International Movies	A young couple fights supernatural foes in an attempt to save their daughter from the dark and mysterious forces that follow her every move.
80049928	TV Show	Five Came Back	Laurent Bouzereau	Steven Spielberg, Guillermo del Toro, Lawrence Kasdan, Francis Ford Coppola, Paul Greengrass, Meryl Streep	United States	March 31, 2017	2017	TV-MA	1 Season	Docuseries	Five acclaimed contemporary directors tell the story of five legendary Hollywood filmmakers who enlisted in the armed forces to document World War II.
70296765	Movie	GLOW: The Story of the Gorgeous Ladies of Wrestling	Brett Whitcomb		United States	March 31, 2017	2012	NR	77 min	Documentaries, Sports Movies	This engaging documentary chronicles the 1980s phenomenon "The Gorgeous Ladies of Wrestling," which elevated its female grapplers to star status.
80131168	Movie	Hiroshima: The Real History	Lucy van Beek	John Sessions	United Kingdom	March 31, 2017	2015	TV-PG	95 min	Documentaries	This detailed examination of the 1945 Hiroshima bombing includes the prelude to and aftermath of history's controversial first use of atomic weapons.
80119190	Movie	Know Your Enemy - Japan	Frank Capra, Joris Ivens	Walter Huston, Dana Andrews	United States	March 31, 2017	1945	TV-14	63 min	Classic Movies, Documentaries	Though culturally insensitive by modern standards, this propaganda film examines the history of Japan from the 16th century through the 1930s.
80119187	Movie	Let There Be Light	John Huston	Walter Huston	United States	March 31, 2017	1946	TV-PG	58 min	Classic Movies, Documentaries	Some returning combat veterans suffer scars that are more psychological than physical. This film follows patients and staff during their treatment.
80048568	TV Show	London Spy	Jakob Verbruggen	Ben Whishaw, Jim Broadbent, Edward Holcroft, Samantha Spiro, Charlotte Rampling, Lorraine Ashbourne, David Hayman, Clarke Peters, Adrian Lester, Harriet Walter	United Kingdom	March 31, 2017	2015	TV-MA	1 Season	British TV Shows, Crime TV Shows, International TV Shows	When his reclusive-banker lover disappears, a hard-partying young British hedonist plunges into the dangerous world of espionage to find the truth.
80178464	TV Show	Monkey Planet		George McGavin	United Kingdom	March 31, 2017	2014	TV-PG	1 Season	British TV Shows, Docuseries, Science & Nature TV	Join zoologist Dr. George McGavin for a fascinating, up-close look at the habits and behaviors of primates, our closest animal relatives.
80119192	Movie	Nazi Concentration Camps	George Stevens		United States	March 31, 2017	1945	TV-MA	59 min	Classic Movies, Documentaries	Shocking footage shows Nazi concentration camps after liberation, including Buchenwald and Ohrdruf, where Gen. Eisenhower ordered local Nazis to tour.
70202593	TV Show	North & South		Daniela Denby-Ashe, Richard Armitage, Tim Pigott-Smith, Sinéad Cusack, Lesley Manville, Brendan Coyle, Anna Maxwell Martin, Jo Joyner, Pauline Quirke, Kay Lyon	United Kingdom	March 31, 2017	2004	NR	1 Season	British TV Shows, Romantic TV Shows, TV Dramas	When her father moves his family to an industrial mill town, the parson's daughter, Margaret Hale, struggles to adapt to her harsh new surroundings.
60027945	Movie	Prelude to War	Frank Capra		United States	March 31, 2017	1942	TV-PG	52 min	Classic Movies, Documentaries	Frank Capra's documentary chronicles the rise of authoritarianism in Germany, Italy and Japan as America prepares for a defense of liberty.
80119188	Movie	San Pietro	John Huston		United States	March 31, 2017	1945	TV-14	32 min	Classic Movies, Documentaries	After the Allies invade Italy, the Liri Valley town of San Pietro becomes an example of the brutal effects of combat, both for soldiers and civilians.
60027942	Movie	The Battle of Midway	John Ford	Henry Fonda, Jane Darwell	United States	March 31, 2017	1942	TV-G	18 min	Classic Movies, Documentaries	Director John Ford captures combat footage of the Battle of Midway, an air and sea campaign that was a turning point in the war in the Pacific.
80115857	Movie	The Discovery	Charlie McDowell	Jason Segel, Rooney Mara, Robert Redford, Riley Keough, Jesse Plemons, Ron Canada	United States	March 31, 2017	2017	TV-MA	102 min	Dramas, Independent Movies, Romantic Movies	A scientist whose proof of an afterlife caused a rash of suicides forges ahead with his research, while his disapproving son falls for a troubled woman.
70281026	TV Show	The Fear	Michael Samuels	Peter Mullan, Anastasia Hille, Harry Lloyd, Paul Nicholls, Demosthenes Chrysan, Dragos Bucur, Shaban Arifi, Julia Ragnarsson, Danny Sapani, Nigel Lindsay, Osy Ikhile, Sidney Kean, Lisa McAllister, Catherine Winter, Amarildo Kola, Julius Peter Wells	United Kingdom	March 31, 2017	2012	TV-MA	1 Season	British TV Shows, Crime TV Shows, TV Dramas	Richie Beckett is an aging Brighton crime boss who's struggling with the onset of dementia, just as a rival gang is trying to take over his territory.
70304244	TV Show	The Great Train Robbery		Luke Evans, Jim Broadbent, Paul Anderson, Martin Compston, Neil Maskell, Jack Roth, George Costigan, Robert Glenister, Nick Moran, Tim Pigott-Smith, James Fox, James Wilby, Jack Gordon, Nicholas Murchie, Del Synnott, Richard Hope, John Salthouse	United Kingdom	March 31, 2017	2013	NR	1 Season	British TV Shows, Crime TV Shows, International TV Shows	This two-part tale delivers the true story of the Great Train Robbery of 1963, the biggest one in England's history.
80119194	Movie	The Memphis Belle: A Story of a
Flying Fortress"	William Wyler		United States	March 31, 2017	1944	TV-PG	40 min	Classic Movies, Documentaries	This documentary centers on the crew of the B-17 Flying Fortress Memphis Belle as it prepares to execute a strategic bombing mission over Germany.

## **Loading our initial DataFrame**

Let's take a look at what Spark does with our data and see if it can properly parse the output. To do this, we'll first load the content into a DataFrame using the `spark.read.csv()` method. 

We'll pass in three arguments:

 - The path to the file(s)
 - An entry for `header=False`. Our files do not have a header row, so we must specify this or risk a data row being interpreted as a header.
 - The last argument we add is the `sep` option, which specifies the field separator. Often in CSV files this is a comma (`,`), but in our files it's a `\t` or tab character.

In our command, we'll be using the wildcard character, `*`, again to access all the files matching `/tmp/netflix_titles_dirty*.csv.gz` (ie, all the files we've downloaded thus far). Spark will handle associating all the files to the same dataframe. 

Depending on how familiar you are with Spark, you should note that this line does not actually read the contents of the files yet. This command is *lazy*, which means it's not executed until we request Spark to execute some type of analysis. This is a crucial point to understand how data processing behaves within Spark.

In [0]:
# Read csv file wiith spark.read_csv()

titles_df = spark.read.csv('/tmp/netflix_titles_dirty*.csv.gz', header=False, sep='\t')

## **Initial analysis**

Let's look at the first 150 rows using the `.show()` method on the DataFrame. We'll pass in:

- The number of rows to display (`150`)
- Set the `truncate` option to `False` so we can see all the DataFrame columns and content.

*Note: `.show()` is a Spark action, meaning that any previous lazy commands will now be executed prior to the actual action. Spark can also optimize these commands for best performance as needed.*

In [0]:
# Show first 150 rows

titles_df.show(150, truncate=False)


**Observation 1**:

If we start by looking at the first column of data, we see that most of the entries are numeric IDs. If we scroll through the data we do see at least one random text entry. Let's make a note of this and browse through the rest of the data, looking for anything that might be out of the ordinary.

**Problem 1**: First column contains a mix of numeric and string data.

**Observation 2**:
We can also use the `.printSchema()` method to print the inferred schema associated with the data. Notice that we have 12 columns (which is expected based on our format information) but there are no column names, incorrect datatypes, and each field is nullable. *Note: `.printSchema()` is also a Spark action.*

**Problem 2**: Column names are generic.

**Problem 3**: All columns are typed as strings, but appear to contain various datatypes (also reference **problem 1**)

In [0]:
# Print schema

titles_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

## **Bypassing the CSV interpeter**

Our first few data rows look ok, but we can see that we have a few random rows even in our small sample. We know the first column should be an integer value but it looks like there are some values that do not meet this requirement. 

Let's run a `.count()` method on our dataframe to determine how many rows are present in the dataset, regardless of whether they're correct.

In [0]:
# Count the number of rows

titles_df.count()

6238

 Let's run a quick select statement on the DataFrame to determine the makeup of the content. We'll use some methods from the `pyspark.sql.functions` module to help us determine this. We'll alias this module as `F` for simplicity.

We're going to use the `F.col` method to find the column named `_c0` in our dataframe. We'll then chain the function `.cast("int")` to attempt to change each entry from a string value to an integer one. We then use the `.isNotNull()` function to find only entries that are not null. This is passed to the the `.filter()` method on the dataframe to return only rows that meet this requirement. Finally we run the `.count()` method on the resulting dataframe to get the count of rows where the first column is an integer value.

An example to filter a Spark dataframe named `df_1` with a column named `_c0` would be:

```
from pyspark.sql import functions as F

df_1.filter(F.col("_c0").cast("int").isNotNull()).show()
```

In [0]:
# Import the Pyspark SQL helper functions
from pyspark.sql import functions as F

# Determine how many rows have a column that converts properly to an integer value
titles_df.filter(F.col("_c0").cast("int").isNotNull()).count()

6173

### **Spark is different**

Depending on your background, you may be very confused as to what's going on right now. If you're used to pandas, you should know that Spark behaves similarly, but there are some significant differences.

#### **Spark dataframes are immutable**
- This means that once a dataframe is created, you cannot change the contents of the dataframe, you can only create a new one.
- We won't cover why during this class, beyond mentioning that it makes a distributed system (such as Spark) much more manageable.
- While you cannot change a dataframe, you can create a new one.
- Dataframes in Spark are defined with various types of *transformations*. These are the *lazy* commands we mentioned earlier. You can think of them as a recipe, or set of commands that will be run at a given time. 
- Spark *actions* (such as `.count()`, `.show()`, `.write()`, among others) instantiate the dataframe, meaning that the data is processed and available within the dataframe.

The important thing to note is that these `.filter()` commands are not changing our underlying dataframe - it's creating a new dataframe with the results of the `.filter()` operation and giving us the `.count()` of that. This is all done behind the scenes for you, but it's important to understand what Spark is doing underneath.

### **Back to analysis**

Now that we've determined there is a difference between the number of correct entries vs all entries (ie, take the full count and subtract the filtered dataframe), let's look at the rows that aren't coverting properly.

We'll do the same as before, but this time we're going to use the `.isNull()` method to obtain only the rows that can't be cast to integers. We'll use the `.show()` method to see the content.

*Note, this is only possible because Spark maintains an immutable dataframe. In our previous step, we created a new dataframe from our `.filter()` command, ran an action, and then Spark threw away the dataframe as we didn't assign it to a variable. We're going to now do the same type of operation on the original `titles_df` dataframe.*

In [0]:
# Look at rows that don't convert properly
titles_df.filter(F.col("_c0").cast("int").isNull()).show(truncate=False)

+------------------------------------------------------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------------------------------+----+-----+----+----+----+----+----+----+----+
|_c0                                                                                                   |_c1                                              |_c2                                                                                |_c3 |_c4  |_c5 |_c6 |_c7 |_c8 |_c9 |_c10|_c11|
+------------------------------------------------------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------------------------------+----+-----+----+----+----+----+----+----+----+
|# The wave for issues such as semantic network and computing                                          |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|TV Show                                                                                               |TV-MA                                            |Crime TV Shows, International TV Shows, Spanish-Language TV Shows                  |null|null |null|null|null|null|null|null|null|
|# Which was, Change Performance Index (EPI) with an electrode at                                      |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Five 40 dangerous. A more direct connection came                                                    |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Heisei Hyakkei fishing village with very low                                                        |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# (or will advanced stage. There are                                                                  |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|The Miracle                                                                                           |Donghyun Kim, Nahyun, Yang Hak Jin, Yoon Hwa Hong|International TV Shows, Korean TV Shows, TV Dramas                                 |null|null |null|null|null|null|null|null|null|
|Movie                                                                                                 |Harold and Lillian: A Hollywood Love Story       |Harold Michelson, Lillian Michelson, Mel Brooks, Francis Ford Coppola, Danny DeVito|2015|TV-14|null|null|null|null|null|null|null|
|# Site Montana energies. Like                                                                         |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|Black Snake Moan                                                                                      |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# To improving example, unclear and badly stated directions                                           |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Stanford Linear new ocean. He called it simply the most                                             |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Europeans. Carl 2003. Regional Oceanography: an Introduction. (see                                  |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Offer international anarchist thinkers, but as soon as possible.                                    |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|Jen Kirkman                                                                                           |May 22, 2015                                     |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Hundred Views Some can get a Nobel Prize in physics World of                                        |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Filipino American the 2010s expansion of the year, within the state                                 |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# West Side descendants, and most of northern California are dammed as part                           |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# To British colonial New Spain in the European Union. The EU established a legal document            |null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
|# Rates than laws usually states that some historians call the creatures laboři ("workers", from Latin|null                                             |null                                                                               |null|null |null|null|null|null|null|null|null|
+------------------------------------------------------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------------------------------+----+-----+----+----+----+----+----+----+----+
only showing top 20 rows

**Observation 3**

Looking at our content, we notice we have several types of problems:

*Data problems*:
- **Problem 4**: Comment rows - These begin with a `#` character in the first column, and all other columns are null
- **Problem 5**: Missing first column - We have few rows that reference `TV Show` or `Movie`, which should be the 2nd column.
- **Problem 6**: Odd columns - There are a few rows included where the columns seem out of sync (ie, a content type in the ID field, dates in the wrong column, etc).

We could fairly easily remove rows that match this pattern, but we're not entirely sure what to expect here. This is a common issue when trying to parse a large amount of data, be it in native Python, in Spark, or even with command-line tools. 

What we need to do is bypass most of the CSV parser's intelligence, but still load the content into a DataFrame. One way to do this is to modify an option on the CSV loader.

# **CSV loading**

Our initial import relies on the defaults for the CSV import mechanism. This typically assumes an actual comma-separated value file using `,` between fields and a normal row level terminator (ie, `\r\n`, `\r`, `\n`). While this often works well, it doesn't always handle ever data cleaning process you'd like, especially if you want to save the errant data for later examination.

One way we can trick our CSV load is to specify a custom separator that we know does not exist within our dataset. As we used above, the option to do this is called `sep` and takes a single character to be used as the column separator. The separator cannot be an empty string so depending on your data, you may need to determine a character that is not used. For our purposes, let's use a curly brace, `{`, which is most likely not present in our data.

In [0]:
# Load the files into a DataFrame with a single column

titles_single_df = spark.read.csv('/tmp/netflix_titles_dirty*.csv.gz', sep='{')

In [0]:
# Count rows

titles_single_df.count()

6238

In [0]:
# Show header

titles_single_df.show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|_c0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|81002212	Movie	Bioscope	Gajendra Ahire, Viju Mane, Girish Mohite, Ravi Jadhav	Nina Kulkarni, Suhas Palshikar, Kushal Badrike, Spruha Joshi, Mangesh Desai, Smita Tambe, Veena Jamkar, Sandeep Khare	India	August 15, 2018	2015	TV-14	131 min	Dramas, International Movies, LGBTQ Movies	Inspired by classic and contemporary literature, four renowned Marathi directors create four individual stories in this anthology of short films.                                                                                  |
|80176707	Movie	For Here or to Go?	Rucha Humnabadkar	Ali Fazal, Melanie Chandra, Rajit Kapoor, Amitosh Nagpal, Omi Vaidya, Samrat Chakrabarti, Keith Stevenson	United States, India	August 15, 2018	2015	TV-MA	105 min	Comedies, Dramas, Independent Movies	A software engineer must decide if he'd rather navigate America's frustrating visa renewal process or simply return to his home country of India.                                                                                                               |
|80199381	Movie	Hostiles	Scott Cooper	Christian Bale, Rosamund Pike, Wes Studi, Jesse Plemons, Timothée Chalamet, Ben Foster, Adam Beach, Rory Cochrane, Peter Mullan, Scott Wilson, Paul Anderson, Jonathan Majors, John Benjamin Hickey, Q'orianka Kilcher, Ryan Bingham	United States	August 15, 2018	2017	R	134 min	Dramas	After a long career battling the Cheyenne, a U.S. Army captain is ordered to safely escort the tribe's most influential chief to his Montana homeland.                                       |
|80202176	Movie	Hurricane Bianca: From Russia With Hate	Matt Kugelman	Roy Haylock, Rachel Dratch, Brian McCook, D.J. "Shangela" Pierce, Doug Plaut, Cheyenne Jackson, Kristen Johnston, Heather McDonald, Wanda Sykes, Janeane Garofalo	United States	August 15, 2018	2018	TV-MA	85 min	Comedies, Independent Movies, LGBTQ Movies	When Texas teacher Richard is lured to Russia under false pretenses by his enemy Deb, his drag alter ego Bianca soon turns the country upside down.                                      |
|81014293	TV Show	Nuestra Lucha Libre				August 15, 2018	2018	TV-MA	1 Season	Docuseries, International TV Shows, Spanish-Language TV Shows	This documentary series lifts the mask on Mexican wrestling, diving into the daily lives of its stars, examining the sport’s cultural impact and more.                                                                                                                                                                                                                           |
|81014811	TV Show	The Creative Indians				August 15, 2018	2017	NR	1 Season	Docuseries, International TV Shows	From chefs and comedians to filmmakers and fashion designers, India’s most notable imaginative minds share their artistic journeys.                                                                                                                                                                                                                                                                           |
|70123118	Movie	What's Your Raashee?	Ashutosh Gowariker	Priyanka Chopra, Harman Baweja, Suzy Brack, Gene Fojtik, Anjan Srivastav, Darshan Jariwala, Dilip Joshi, Daya Shankar Pandey, Yuri Suri, Rajesh Vivek, Geeta Tyagi	India	August 15, 2018	2009	TV-PG	203 min	Comedies, International Movies, Music & Musicals	To protect his family from ruin, Yogesh must marry his dream girl in only ten days, so he rushes into dating women with different astrological signs.                                                  |
|80175913	TV Show	20 Minutes		Tuba Büyüküstün, Ilker Aksum, Bülent Emin Yarar, İpek Bilgin, Müjde Uzman, Firat Çelik, Ayten Uncuoglu, Cihat Tamer	Turkey	August 15, 2017	2013	TV-MA	1 Season	Crime TV Shows, International TV Shows, TV Dramas	When his wife is convicted of murder, a horrified family man races to prove her innocence while a dogged investigator sets out to uncover the truth.                                                                                                                         |
|80182274	Movie	Barbecue	Matthew Salleh		Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay	August 15, 2017	2017	TV-MA	101 min	Documentaries, International Movies	A blend of cultural nuance and mesmerizing techniques adds flavor to this globe-hopping celebration of cooking, tradition and community.                                                                                                                                        |
|80185166	Movie	Brad Paisley's Comedy Rodeo	Jay Chapman	Brad Paisley, Nate Bargatze, John Heffron, Jon Reep, Sarah Tiana, Mike E. Winfield	United States	August 15, 2017	2017	TV-MA	63 min	Stand-Up Comedy	Country music star Brad Paisley hosts a night of music and laughs with comics Nate Bargatze, John Heffron, Jon Reep, Sarah Tiana and Mike E. Winfield.                                                                                                                                                           |
|80068219	Movie	Colin Quinn: Unconstitutional	Jay Chapman	Colin Quinn	United States	August 15, 2017	2015	TV-MA	56 min	Stand-Up Comedy	New York comedian Colin Quinn writes and stars in this live one-man stage show that dissects and deconstructs U.S. constitutional history.                                                                                                                                                                                                                                            |
|70209163	Movie	Goon	Michael Dowse	Seann William Scott, Jay Baruchel, Liev Schreiber, Alison Pill, Marc-André Grondin, Kim Coates, Eugene Levy, Nicholas Campbell, Richard Clarkin, Jonathan Cherry	United States, Canada	August 15, 2017	2011	R	92 min	Comedies, Sports Movies	When he's seen dispatching a rude opposing hockey player in the stands, Doug Glatt is hired by a rival team ... for his fighting skills.                                                                                                    |
|80170687	TV Show	Million Yen Women		Yojiro Noda, Rila Fukushima, Rena Matsui, Miwako Wagatsuma, Rena Takeda, Yuko Araki, Yuya Endo, Kaito Yoshimura, Moeka Hoshi, Juri Ihata, Mariko Tsutsui, Kanji Furutachi, Tetsuhiro Ikeda, Takashi Yamanaka, Tomoya Nakamura, Lily Franky	Japan	August 15, 2017	2017	TV-MA	1 Season	Crime TV Shows, International TV Shows, TV Dramas	Five beautiful but mysterious women move in with unsuccessful novelist Shin, who manages their odd household in exchange for a tidy monthly sum.|
|80163191	Movie	My Ex-Ex	Nathaniel Warsh	André Bharti, Katherine Barrell, Ray Galletti, Emily Alatalo, Tamara Duarte, Randal Edwards, Alastair Forbes, Jesse Camacho	Canada	August 15, 2017	2015	TV-MA	91 min	Comedies, Romantic Movies	A recently dumped attorney hires a psychic to help her win back her boyfriend. Things take an unexpected turn when another ex re-enters the picture.                                                                                                                                |
|80184661	Movie	We're No Animals	Alejandro Agresti	John Cusack, Paul Hipp, Kevin Morris, Alejandro Agresti, Mario Alarcón, Norman Briski, Lucila Solá, Juana Viale, Pablo Bossi, Leticia Brédice	United States, Argentina	August 15, 2017	2015	TV-MA	94 min	Comedies, Dramas, Independent Movies	Unhappy with his commercial film work, a jaded Hollywood actor moves to Argentina to participate in an experimental thesis on social philosophy.                                                                           |
|80114588	TV Show	Behind Enemy Lines			United States	August 15, 2016	2001	TV-14	1 Season	British TV Shows, Docuseries	After dire setbacks in 1940, Winston Churchill commissions a new kind of fighting force: commandos trained to use stealth and audacious tactics.                                                                                                                                                                                                                                                      |
|80078761	Movie	Being AP	Anthony Wonke	Tony McCoy	United Kingdom	August 15, 2016	2015	TV-14	99 min	Documentaries, International Movies, Sports Movies	With retirement staring him in the face, an all-time-great jump jockey pursues his 20th consecutive title in his unrelenting quest for glory.                                                                                                                                                                                                                         |
|80115844	Movie	John & Jane	Ashim Ahluwalia		India	August 15, 2016	2005	TV-14	79 min	Documentaries, International Movies	Truth and fiction blend in this quasi-documentary about six exhausted workers at a Mumbai call center servicing U.S. customers.                                                                                                                                                                                                                                                                    |
|80114111	Movie	Louis C.K.: Live at the Comedy Store	Louis C.K.	Louis C.K.	United States	August 15, 2016	2015		66 min	Movies	The comic puts his trademark hilarious/thought-provoking spin on finding a bat in his kitchen, seeing rats having sex, Boston accents and dead pets.                                                                                                                                                                                                                                           |
|80108998	Movie	Real Crime: Supermarket Heist (Tesco Bomber)			United Kingdom	August 15, 2016	2010	TV-14	46 min	Documentaries	In 2000, U.K. detectives spent months tracking a criminal known only as Sally, who was targeting a supermarket chain with extortion and letter bombs.                                                                                                                                                                                                                                         |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
# Print schema

titles_single_df.printSchema()

root
 |-- _c0: string (nullable = true)

# **Q&A?**

# **Cleaning up our data**

We know from some earlier analysis that we have comment rows in place (ie, rows that begin with a `#`). While Spark provides a DataFrame option to handle this automatically, let's consider what it would take to remove comment rows.

We need to:

- Determine if the column / line starts with a `#`
- If so, filter these out to a new DataFrame

There are many ways to accomplish this in Spark, but let's use a conceptually straight-forward option, `.startsWith()`.

In [0]:
# Filter DataFrame and show rows that starts with #

titles_single_new_df = titles_single_df.filter(F.col('_c0').startswith('#'))
titles_single_new_df.show()

+--------------------+
|                 _c0|
+--------------------+
|# The wave for is...|
|# Which was, Chan...|
|# Five 40 dangero...|
|# Heisei Hyakkei ...|
|# (or will advanc...|
|# Site Montana en...|
|# To improving ex...|
|# Stanford Linear...|
|# Europeans. Carl...|
|# Offer internati...|
|# Hundred Views S...|
|# Filipino Americ...|
|# West Side desce...|
|# To British colo...|
|# Rates than laws...|
|# (87.8 percent B...|
|# On exteriority,...|
|# Roosevelt Unive...|
|# An "or". a conv...|
|# 1611–1613 Kalma...|
+--------------------+
only showing top 20 rows

In [0]:
# Count number of rows

titles_single_new_df.count()

47

We've determined that we have 47 rows that begin with a comment character. We can now easily filter these from our DataFrame as we do below. This resolves **Problem 4**.

*Note: We're doing things in a more difficult fashion than is absolutely necessary to illustrate options. The Spark CSV reader has an option for a `comment` property, which actually defaults to skipping all rows starting with a `#` character. That said, it only supports a single character - consider if you were looking for multi-character options (ie, a // from C-style syntax). This feature is also only available in newer versions of Spark, where our method works in any of the 2.x Spark releases.*

In [0]:
# Filter out comments

titles_single_df = titles_single_df.filter(~ F.col('_c0').startswith('#'))

In [0]:
titles_single_df.count()

6191

# **Checking column counts**

Our next step for cleaning this dataset in Pyspark involves determining how many columns we should have in our dataset and take care of any outliers. We know from our earlier examination that the dataset should have 12 usable columns per row.

First, let's determine how many columns are present in the data and add that as a column. We'll do this with a combination of:

- `F.split()`: This acts similar to the Python `split()` method, splitting the contents of a dataframe column on a specified character into a Spark ArrayType column (ie, Spark's version of a list variable). 
- `F.size()`: Returns the size (length) of a Spark ArrayType column.
- `.withColumn()`: Creates a new dataframe with a given column.

In [0]:
# Add a column representing the total number of fields / columns

titles_single_df = titles_single_df.withColumn('fieldCount', F.size(F.split(titles_single_df['_c0'], '\t')))

In [0]:
# Show rows with a fieldcount > 12 (Note, select statement here isn't necessarily required - used to reorder the columns for easier viewing)
titles_single_df.select('fieldcount', '_c0').where('fieldCount > 12').show(truncate=False)

+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|fieldcount|_c0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|32        |80167646	Movie	The Blind Christ	Christopher Murray	Michael Silva, Bastián Inostroza, Ana María Henríquez, Mauricio Pinto, Pedro Godoy, Hermelinda Cayo, Héctor Mella, Gonzalo Villalobos, Noelia Rubio	Chile, France	August 1, 2017	2016	TV-MA	86 min	Dramas, Independent Movies, International Movies	A man claiming he had a divine revelation as a child treks across the Chilean desert to perform a miracle on a friend badly injured in a remote town.		rand@pernar.biz	http://is.nal.com/by/wever/was/Forgin.puliko-ifird-thembo	aderve@becolv.edu	374-831-1651	a@of181.com	58861	tian@Mobsiz.net	http://pid.org/com/naterl/of/the.matudi-laname-cology-Eurrel-of	ecto@whount.com	Devial	an.sooms@fousit.fr		pred@triesp.net	https://tork.net/20thoo/painit.larmay14-the-Vargat8366	th@al.edu		vateca@Bus.com		inguen@Subate274.co.uk                                              |
|30        |80118918	Movie	Strike a Pose	Ester Gould, Reijer Zwaan		Netherlands, Belgium	April 7, 2017	2016	TV-MA	85 min	Documentaries, International Movies, LGBTQ Movies	A quarter-century later, this documentary relocates the male dancers who backed Madonna on her 1990 Blond Ambition tour, as seen in "Truth or Dare."		les@hinges.net	http://downs.us/bectio/is/casse.html	durems@was999.co.uk	680-778-1031	Brolud@Cens.com	1864	of@gre.ru	https://Bathe.tv.png	29@humate.us	by	alled@to.com		of@form.thin.gov	https://sologe.com/Reput/plattl/Orgy/to.propor-to-tries	nintat@dis.net		thenti846@fochou.en.com                                                                                                                                                                                                                                                                              |
|34        |80104198	TV Show	Lost in Space		Molly Parker, Toby Stephens, Max Jenkins, Taylor Russell, Mina Sundwall, Parker Posey, Ignacio Serricchio	United States	April 13, 2018	2018	TV-PG	1 Season	TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy	After crash-landing on an alien planet, the Robinson family fights against all odds to survive and escape. But they're surrounded by hidden dangers.		then@Unican.us	http://pras.tv/Spand/whicou.arevoc-sact4-ing-taint-difica	ne@hichor.jp	738-149-6607	res@al.com	6404	Siencl@ing.biz	http://cons.us/couts.html	Decans@law.biz	pron	act846@as.us		inated380@regin.com	http://Kin.edu/lit/his/comatt.of-colow57-rentru-forequ-Statea-The	aniong925@was.org		a@center.co.uk		diniqu@bran.ru	https://re847.us.(extio-to-His	prommi@bechou.edu                                                                                             |
|35        |80207445	Movie	The Legend of Michael Mishra	Manish Jha	Arshad Warsi, Aditi Rao Hydari, Kayoze Irani, Boman Irani	India	April 1, 2019	2016	TV-PG	118 min	Comedies, Dramas, International Movies	After a life of crime, a notorious kidnapper tries to change his ways and turn over a new leaf to win the heart of the woman he loves.		the@The.200.us	https://by.Comens.biz/bectin/prount/tive/art.fore-com-Thenti-ind-to-not	agente@des.com	300-324-1101	arions@martia.com	93170	bel785@th.the.com	https://so.us.asp	bety361@Inds510.com	has	a@the.edu		the.Cenesi@gain.com	http://actlag.com/ing.html	th@Not661.us		ang231@auding.com		pard@to.An.com	http://East.biz/way/over.the91-adiver	a.Humacy@Nolopu.com	                                                                                                                                                                        |
|35        |60000722	Movie	Phir Bhi Dil Hai Hindustani	Aziz Mirza	Shah Rukh Khan, Juhi Chawla, Paresh Rawal, Satish Shah, Dilip Tahil, Govind Namdeo, Smita Jaykar, Shakti Kapoor, Johnny Lever	India	April 1, 2018	2000	TV-PG	159 min	Comedies, Dramas, International Movies	In this Bollywood entertainment, two journalists, Ajay and Ria, work for rival TV stations and compete heavily to mask their feelings for each other.		fen.and@Rearly.com	https://andepr.co.uk/eventi/Krain/thatin/inic.as-in-GeV42	Slonsu@imasti.com	999-278-9874	inativ.ativen@an.thand.us	10454	ado.Asighw@of.conega.co.uk	http://ili.com.html	the@Cences.edu	Admay	Asin@ithe.org		thot@ustect.com	https://the.com/2011/sha.a-of-forn-diseca-matind-ords	Ficann@abled.com		re@to.edu		Org@orated.gov	https://the.th.ru/usheir/Bakey.reenta-ean-ory-ing	shil@thaved808.us	                                            |
|21        |80159714	TV Show	Bala Loca		Alejandro Goic, Trinidad González, Ingrid Isensee, Mario Horton, Manuela Oyarzún, Fernanda Urrejola, Catalina Saavedra, Pablo Schwarz, Aline Küppenheim, Marcial Tagle, Víctor Quezada, Alfredo Castro, Roberto Farías, Hugo Medina, Daniel Candia, María Paz Grandjean, Alejandro Sieveking, Nicolás Durán, Sergio Hernández, Willy Semler, Erto Pantoja	Chile	April 1, 2017	2016	TV-MA	1 Season	International TV Shows, Spanish-Language TV Shows, TV Dramas	A veteran journalist starting a news site about corruption in Chile stumbles on a big story when a fellow investigative reporter dies suspiciously.		of@Hit.org	https://angly.net.html	Urb@Provel.the.org	488-752-7084	acton@the.com	29160	du@hassio.com	https://In.com/holis.and-ons37                                                                                                        |
|30        |80134695	TV Show	Free Rein		Jaylen Barron, Manpreet Bambra, Celine Buckens, Freddy Carter, Caroline Ford, Natalie Gumede, Bruce Herbelin-Earle, Noah Huntley, Kerry Ingram, Paul Luebke, Geoffrey McGivern, Navia Ziraili Robinson, Milo Twomey, Carla Woodcock	United States	 July 6, 2019	2019	TV-G	3 Seasons	British TV Shows, Kids' TV, TV Dramas	A 15-year-old from LA spends the summer at her mom's childhood home on an island off the coast of England, where she bonds with a mysterious horse.		knotop@of689.com	http://solso.fr/prich/The/of.the-prompl-Trat-forana-ons-a-hicano	whis@the.com	812-758-6230	asin.ralude@cand.net	50496	forédé.inges@a.com	http://is.com/uple/the.com-icalso-sectie	lactis@Ancitu.net	State	and@be.biz		and@witoor751.com	http://siffic.com/dry/of/molowf.The30-moso	covere@larese.gov		mat@The.com                                             |
|32        |81033086	Movie	Holiday Rush	Leslie Small	Romany Malco, Sonequa Martin-Green, Darlene Love, Deon Cole, La La Anthony, Deysha Nelson, Amarr M. Wooten, Selena-Marie Alphonse, Andrea-Marie Alphonse	United States	November 28, 2019	2019	TV-PG	94 min	Children & Family Movies, Dramas	A widowed radio DJ and his four spoiled kids need to tighten their belts and pull together when their life of luxury turns lean just before Christmas.		pais@Thipla.org	http://wilect.co.uk.suler-ort-ace-al	as@med370.net	776-579-6312	of@sommit.ru	5526	sitin@Hance.pulow.com	https://st.ru/of/nentra/wast.ecie,-the-2012-birs-Gen-Mosted	Adin@non.hatesi.com	the	adat@neces.tv		Amborw.any@com.biz	http://wer622.com/st/icatic.a-pleati20-cons-a-le	thely@thandu.com		Spare.arides@be.gov		a@wits.by.net                                                                                          |
|33        |70044693	Movie	World Trade Center	Oliver Stone	Nicolas Cage, Michael Peña, Maggie Gyllenhaal, Maria Bello, Stephen Dorff, Jay Hernandez, Michael Shannon, Frank Whaley, Jon Bernthal, Morgan Flynn, Nick Damici, Viola Davis, William Mapother	United States	November 20, 2019	2006	PG-13	129 min	Action & Adventure, Dramas	Working under treacherous conditions, an army of dedicated rescuers struggles to find anyone who survived the World Trade Center's tragic collapse.		Fredic@fic.jp	https://Ther.edu/The/clobje/rultud/tousit.mon-partar-funide-whishe-ract-ex	versic@ctral.biz	545-137-8707	mon@and.fr	59454	pround@is.20133.com	https://milans.org/sch/sulthi.asp	of145@dithe.com	Hanteg	corous@mance492.us		yoted@e.fr	http://fall.bothe.edu/xicter.ands,-such-OCLC-Mexpro2511	nothe.ack@Mexami.com		as@ce.co.uk		les.learog@anki.net	https://flibra767.com/cial/BC/Den.jsp|
|31        |80004534	Movie	Chelsea Peretti: One of the Greats	Lance Bangs	Chelsea Peretti	United States	November 14, 2014	2014	NR	75 min	Stand-Up Comedy	"Brooklyn Nine-Nine" star Chelsea Peretti showcases her diverse talents in this dark yet silly reimagining of the comedy special.		Ams@and.com	http://of.net.jsp	Theite@even.org	292-678-0292	me@ention.com	41935	forlia507@ort150.tv	http://linuoi.com/Mostes/Afrat/Brainc.Watmes-conati-ontarp-con	boratt@Faisto.ru	convol	of@and.net		for@spain.tv	http://arat.ru/cord/Coldit/ing.shindi-an-norte	otleca@Car.fibefl.com		obial557@ally.com	                                                                                                                                                                                                                                                                                               |
|33        |80218819	TV Show	We Are the Wave		Ludwig Simon, Luise Befort, Michelle Barthel, Mohamed Issa, Daniel Friedl, Robert Schupp		November 1, 2019	2019	TV-MA	1 Season	International TV Shows, TV Dramas, TV Mysteries	A mysterious classmate leads four idealistic teens in a revolt against a rising tide of nationalistic fervor, but their movement takes a dark turn.		inted@thobse.net	http://theran.Atlake.tv/thesis/Cat.html	of@of.Jor.tv	703-141-0882	opular@thenzá.ru	98933	so@inges.net	http://thers.com/hers.php	fre.us@hipas.com	The	Met@The.ru		monadi@por.gov	http://bectio.com/mener/of/joun.and-is-Sauste71	unis@Couth.us		ater@pe.fr		Japeci@to.org	https://Thinfr.com/fica/ems.html                                                                                                                                                                                          |
|23        |70185023	Movie	Shor In the City	Raj Nidimoru, Krishna D.K.	Sendhil Ramamurthy, Tusshar Kapoor, Nikhil Dwivedi, Preeti Desai, Sundeep Kishan, Radhika Apte, Pitobash, Girija Oak, Alok Chaturvedi, Sudhir Chowdhary	India	May 31, 2019	2011	TV-MA	106 min	Comedies, Dramas, Independent Movies	When three small-time Mumbai crooks steal a bag on a train, they find that it's filled with weapons and realize that their lives may be in danger.		of@ing.com	http://bee.gov/mista.gif	pa400@onorth.com	789-462-1430	Río@of.com	99609	perbot@ent924.org	http://whic.us/Noved/pris/Julter/of.jsp	re.land@of487.net	Man.                                                                                                                                                                                                                                                                     |
|28        |80091778	TV Show	This Is My Love		Jin-mo Joo, Sa-rang Kim, Junior, Ja-in Lee, Sung-hyun Baek, So-hui Yoon	South Korea	May 22, 2017	2015	TV-14	1 Season	International TV Shows, Korean TV Shows, Romantic TV Shows	A renowned actor who is still pining over the loss of his first real love writes an autobiography about his memories of her, hoping to reconnect.		cal182@elso252.com	http://mentur.com/par/ally/Skilly.Wes),-rece55-lestag-the	witate@the.com	573-690-1082	lausat@How.com	18416	Liked@Porthe566.fr	https://com.me.gov/of/ithenm/an/thical.tept-the37	of.Nomer@culand.ru	fill	welson.plaryt@Bir698.biz		obote@crouth.us	https://Intry.gov/rentri/cal/ex.les,-bor-Mact	an@ing.jp                                                                                                                                                                                         |
|17        |81121186	Movie	NOVA: Prediction by the Numbers	Daniel McCabe	Jay O. Sanders	United States	July 1, 2019	2018	TV-G	53 min	Documentaries	With the science of forecasting flourishing, this documentary explores how predictions inform our lives and statistics and algorithms' reliability.		Uruct@ect.fr	https://Ind.us.gif	the@weas.com	837-874-9418                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
|20        |80099016	Movie	IBOY	Adam Randall	Bill Milner, Maisie Williams, Rory Kinnear, Miranda Richardson, Jordan Bolger, Charley Palmer Rothwell, Aymen Hamdouchi	United Kingdom	January 27, 2017	2017	TV-MA	91 min	International Movies, Sci-Fi & Fantasy, Thrillers	When shards of a cell phone get lodged in a teenager's brain, he discovers he can control electronic devices and uses his newfound power for revenge.		an@watime.com	https://as.us/Earnal/sions.sm-andes-Itan	200000.th@antre.us	591-758-0224	whiso.fistry@sooman57.com	79576	ind@agence.usiged.us                                                                                                                                                                                                                                                                                                                           |
|26        |70113006	Movie	The Final Destination	David R. Ellis	Bobby Campo, Shantel VanSanten, Nick Zano, Haley Webb, Mykelti Williamson, Krista Allen, Andrew Fiscella, Justin Welborn, Stephanie Honoré	United States	January 1, 2020	2009	R	82 min	Horror Movies	Nick O'Bannon thinks he's cheated death when he keeps a grisly premonition from becoming reality, but he soon realizes that fate has other plans.		cal.gentic@win.gov	https://thampe.org/the.whilly-produl27	bitedu504@cuilop.com	372-771-9479	matems@lartha.tv	28582	of@foughe.org	https://used.us/the/Caboha.php	duccut@mocked.com	ition,	inumis@he.tv		a@Leve.edu                                                                                                                                                                                                                                                             |
|23        |60004476	Movie	Jay and Silent Bob Strike Back	Kevin Smith	Jason Mewes, Kevin Smith, Ben Affleck, Jeff Anderson, Brian O'Halloran, Shannon Elizabeth, Eliza Dushku, Ali Larter, Jennifer Schwalbach, Will Ferrell, Jason Lee	United States	January 1, 2019	2001	R	105 min	Comedies, Cult Movies	Jay and Silent Bob's comic book alter egos have been sold to Hollywood without permission, so they head to Tinseltown to sabotage the production.		the@a.com	https://werric.com/fulaya/the/The.mern10-woriag-Jultur	ist@a.of.com	220-422-0555	As@Scate.edu	48985	widept@now.com	https://ing.biz/of/nommun/a.peny-tworiv-by	and@Deatin.com	The                                                                                                                                                                                                                                              |
|27        |70286029	Movie	Monster High: Why Do Ghouls Fall in Love?	Dustin McKenzie, Steve Sacks	Laura Bailey, Ogie Banks, Cam Clarke, Debi Derryberry, Erin Fitzgerald, Kate Higgins, Jonathan Lipow, Audu Paden, Cindy Robinson, Salli Saffioti, Evan Smith, America Young	United States	January 1, 2018	2013	TV-Y7	46 min	Children & Family Movies	Draculaura's ghoulfriends have some suspicions about one of her two persistent suitors – but can they stop him before he steals her un-beating heart?		candle@Ion.net	https://us.tain.net/the/ang.Therge-troand-majoya-the-ing-thomme65	coduch@Nor.fr	576-493-0008	a@exual.Burnit.us	51727	prove@socans.jp	https://is.whisio.us/as/Placia/ing/Min.fory,-by32	spere.sedout@pon.com	Ament	Cend.begick@ision.gov		1300@Swed.tv	https://of.com/polles/ha.ound-foriss53-lans                                                                        |
|35        |70039645	Movie	Zach Galifianakis: Live at the Purple Onion	Michael Blieden	Zach Galifianakis, Brian Unger	United States	February 26, 2019	2006	TV-MA	61 min	Stand-Up Comedy	The unorthodox, piano-playing stand-up star Zach Galifianakis makes a splash on the scene and serves up a healthy dose of his signature wit.		larly.The@coadve.ru	https://etwo.com/Unitur/be/Atly.html	Fais@co.biz	971-617-7850	Suscho@con.gov	77933	of@fealgi.cough.net	https://stmose.com/oriali/coutco/Pubgem/mal.theaus-th12-of13-wain	of@noulan.tv	Decomy	and@du.com		froper@Canic.com	http://on.ru/sed/for.Naraiw-ma5	fourea.wits@isints.com		coges.gonto@of.com		and@dozoni.Anicat.com	https://wed976.com/Sparld/numark/rage/the.Nom-Agrope54997319	ainglo@Comica.of.edu	                                                                                                                              |

In [0]:
# Check for any rows with fewer than 12 columns

titles_single_df.select('fieldcount', '_c0').where('fieldcount < 12').show(truncate=False)

+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|fieldcount|_c0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|3         |TV Show	TV-MA	Crime TV Shows, International TV Shows, Spanish-Language TV Shows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
|11        |80109038	TV Show	You're My Destiny		Joe Chen, Ethan Juan, Baron Chen, Bianca Bai, Wei-hsun Na, Tan Ai-Chen	Taiwan	August 1, 2016	2008	TV-14	International TV Shows, Romantic TV Shows, TV Comedies	A young woman's romantic cruise ends in a twist when she gets pregnant after a one-night stand with a rich executive, turning their lives upside down.                                                                                                                                                                                                                                                          |
|11        |80227114	Movie	Küçük Esnaf	Bedran Güzel	İbrahim Büyükak, Zeynep Koçak, Gupse Özay, Cengiz Bozkurt	Turkey	April 4, 2018	2016	TV-14	Comedies, International Movies	As an honest locksmith scrambles to pay his late father's hefty debt to the mafia, he crosses paths with a woman in similar trouble and falls for her.                                                                                                                                                                                                                                                                                            |
|8         |80108518	Anthony D'Souza	April 12, 2019	2016	TV-PG	129 min	Dramas, International Movies, Sports Movies	This biopic traces the tumultuous life and career of top cricket player Mohammad Azharuddin, who led India's national team in the 1990s.                                                                                                                                                                                                                                                                                                                                                                    |
|3         |The Miracle	Donghyun Kim, Nahyun, Yang Hak Jin, Yoon Hwa Hong	International TV Shows, Korean TV Shows, TV Dramas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
|11        |80179762	She-Ra and the Princesses of Power		Aimee Carrero, AJ Michalka, Marcus Scribner, Karen Fukuhara, Reshma Shetty, Lorraine Toussaint, Keston John, Lauren Ash, Christine Woods, Morla Gorrondona, Antony Del Rio, Dana Davis, Grey Griffin, Genesis Rodriguez, Jordan Fisher, Vella Lovell, Merit Leighton, Sandra Oh, Krystal Joy Brown	United States	 November 5, 2019	2019	TV-Y7-FV	4 Seasons	Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy	Soldier Adora finds a magic sword – and her identity as legendary hero She-Ra. She joins the Rebellion, but her best friend stays with the evil Horde.|
|5         |Movie	Harold and Lillian: A Hollywood Love Story	Harold Michelson, Lillian Michelson, Mel Brooks, Francis Ford Coppola, Danny DeVito	2015	TV-14                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
|1         |Black Snake Moan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
|10        |70178618	Shark Night	David R. Ellis	Sara Paxton, Dustin Milligan, Chris Carmack, Katharine McPhee, Donal Logue, Joshua Leonard, Sinqua Walls, Chris Zylka, Alyssa Diaz, Joel David Moore	United States	November 2, 2019	2011	PG-13	91 min	Horror Movies                                                                                                                                                                                                                                                                                                                                                            |
|10        |80160504	La Doña		Aracely Arámbula, David Chocarro, Danna Paola, Rebecca Jones, Odiseo Bichir, Gabriela Roel, Andrea Martí, Juan Ríos Cantú, Diego Soldano, Daniela Bascopé	United States, Mexico	November 17, 2018	TV-14	1 Season	Spanish-Language TV Shows, TV Dramas	Worlds collide and lives shatter when Altagracia, a powerful and elegant businesswoman, plots a ruthless revenge while falling in love.                                                                                                                                                                                                    |
|5         |80195049	Movie	Ibiza	2018	Comedies, Romantic Movies                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
|2         |Jen Kirkman	May 22, 2015                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|10        |81077597	Movie	I Am	Juhi Chawla, Rahul Bose, Nandita Das, Sanjay Suri, Manisha Koirala, Purab Kohli, Shernaz Patel, Abhimanyu Singh, Arjun Mathur, Radhika Apte	March 4, 2019	2010	TV-MA	106 min	Dramas, Independent Movies, International Movies	Four individuals in modern India grapple with their identities amid social taboos, trauma and brutal sexual discrimination in this quartet of stories.                                                                                                                                                                                                           |
|3         |Movie		This fun, charming documentary follows the exploits of some very feline-friendly folks as they strive to get their kitties crowned Canada’s top cat.                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
|10        |81047677	Movie	I Dream Of Dance	Maria Demeshkina Peek			2017	TV-PG	106 min	Experience the joy and sacrifice of one of the nation's premier dance companies as its members and instructors prepare for a prestigious competition.                                                                                                                                                                                                                                                                                                                                                                                   |
|9         |	Kaycie Chase, David Gasman, Tom Morton, Lee Delong, Barbara Weber-Scaff		January 31, 2019	2018	TV-Y	1 Season	Kids' TV	Stan and Olivia – the amazingly different Paprika twins – use their boundless enthusiasm to turn everyday life into an extraordinary adventure.                                                                                                                                                                                                                                                                                                                                             |
|10        |80223136	Movie	Matt Toronto	United States	January 15, 2018	2017	TV-MA	89 min	Dramas, Independent Movies	Two former friends, who now live far apart, learn about each other's insecurities and secrets over a series of video chats.                                                                                                                                                                                                                                                                                                                                                                                |
|8         |80020131	Kate Higgins, Debi Derryberry, Salli Saffioti, Evan Smith, Laura Bailey, Audu Paden, Erin Fitzgerald, Cindy Robinson, Ogie Banks, Cam Clarke	January 1, 2018	2012	TV-Y7	46 min	Children & Family Movies	A swanky cruise veers off course for Lagoona and her friends when they're left stranded on Skull Shores, an island with a notorious beast.                                                                                                                                                                                                                                                        |
|1         |70213078                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|5         |The 2000s		United States	February 19, 2019	TV-MA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

**Observation 4**: We notice that we have many rows with fewer or greater than 12 columns of data. 

**Problem 7**: Column counts do not match our expected schema.

In [0]:
# Save these to a separate dataframe for later analysis

titles_badrows_df = titles_single_df.where('fieldcount != 12')

In [0]:
# Determine total number of "bad" rows
titles_badrows_df.count()

78

We can now resolve **problems 5, 6, and 7** by accessing only the rows that have 12 columns present.

In [0]:
# Set the dataframe without the bad rows
titles_single_df = titles_single_df.where('fieldcount == 12')

In [0]:
# How many current rows in dataframe?

titles_single_df.count()

6113

# **Q&A**

# **More cleaning / prep**

Now that we've removed rows that don't fit our basic formatting, let's continue on with making our dataframe more useful.

First, let's create a new column that is a list (actually a Spark ArrayType column) containing all "columns" using the `pyspark.sql.functions.split` method. We'll call this `splitcolumn`.

In [0]:
# Create a list of split strings as a new column named splitcolumn
titles_cleaned_df = titles_single_df.select(F.split('_c0', '\t').alias('splitcolumn'))

In [0]:
# View the contents
titles_cleaned_df.show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|splitcolumn                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[81002212, Movie, Bioscope, Gajendra Ahire, Viju Mane, Girish Mohite, Ravi Jadhav, Nina Kulkarni, Suhas Palshikar, Kushal Badrike, Spruha Joshi, Mangesh Desai, Smita Tambe, Veena Jamkar, Sandeep Khare, India, August 15, 2018, 2015, TV-14, 131 min, Dramas, International Movies, LGBTQ Movies, Inspired by classic and contemporary literature, four renowned Marathi directors create four individual stories in this anthology of short films.]                                                                                  |
|[80176707, Movie, For Here or to Go?, Rucha Humnabadkar, Ali Fazal, Melanie Chandra, Rajit Kapoor, Amitosh Nagpal, Omi Vaidya, Samrat Chakrabarti, Keith Stevenson, United States, India, August 15, 2018, 2015, TV-MA, 105 min, Comedies, Dramas, Independent Movies, A software engineer must decide if he'd rather navigate America's frustrating visa renewal process or simply return to his home country of India.]                                                                                                               |
|[80199381, Movie, Hostiles, Scott Cooper, Christian Bale, Rosamund Pike, Wes Studi, Jesse Plemons, Timothée Chalamet, Ben Foster, Adam Beach, Rory Cochrane, Peter Mullan, Scott Wilson, Paul Anderson, Jonathan Majors, John Benjamin Hickey, Q'orianka Kilcher, Ryan Bingham, United States, August 15, 2018, 2017, R, 134 min, Dramas, After a long career battling the Cheyenne, a U.S. Army captain is ordered to safely escort the tribe's most influential chief to his Montana homeland.]                                       |
|[80202176, Movie, Hurricane Bianca: From Russia With Hate, Matt Kugelman, Roy Haylock, Rachel Dratch, Brian McCook, D.J. "Shangela" Pierce, Doug Plaut, Cheyenne Jackson, Kristen Johnston, Heather McDonald, Wanda Sykes, Janeane Garofalo, United States, August 15, 2018, 2018, TV-MA, 85 min, Comedies, Independent Movies, LGBTQ Movies, When Texas teacher Richard is lured to Russia under false pretenses by his enemy Deb, his drag alter ego Bianca soon turns the country upside down.]                                      |
|[81014293, TV Show, Nuestra Lucha Libre, , , , August 15, 2018, 2018, TV-MA, 1 Season, Docuseries, International TV Shows, Spanish-Language TV Shows, This documentary series lifts the mask on Mexican wrestling, diving into the daily lives of its stars, examining the sport’s cultural impact and more.]                                                                                                                                                                                                                           |
|[81014811, TV Show, The Creative Indians, , , , August 15, 2018, 2017, NR, 1 Season, Docuseries, International TV Shows, From chefs and comedians to filmmakers and fashion designers, India’s most notable imaginative minds share their artistic journeys.]                                                                                                                                                                                                                                                                           |
|[70123118, Movie, What's Your Raashee?, Ashutosh Gowariker, Priyanka Chopra, Harman Baweja, Suzy Brack, Gene Fojtik, Anjan Srivastav, Darshan Jariwala, Dilip Joshi, Daya Shankar Pandey, Yuri Suri, Rajesh Vivek, Geeta Tyagi, India, August 15, 2018, 2009, TV-PG, 203 min, Comedies, International Movies, Music & Musicals, To protect his family from ruin, Yogesh must marry his dream girl in only ten days, so he rushes into dating women with different astrological signs.]                                                  |
|[80175913, TV Show, 20 Minutes, , Tuba Büyüküstün, Ilker Aksum, Bülent Emin Yarar, İpek Bilgin, Müjde Uzman, Firat Çelik, Ayten Uncuoglu, Cihat Tamer, Turkey, August 15, 2017, 2013, TV-MA, 1 Season, Crime TV Shows, International TV Shows, TV Dramas, When his wife is convicted of murder, a horrified family man races to prove her innocence while a dogged investigator sets out to uncover the truth.]                                                                                                                         |
|[80182274, Movie, Barbecue, Matthew Salleh, , Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay, August 15, 2017, 2017, TV-MA, 101 min, Documentaries, International Movies, A blend of cultural nuance and mesmerizing techniques adds flavor to this globe-hopping celebration of cooking, tradition and community.]                                                                                                                                        |
|[80185166, Movie, Brad Paisley's Comedy Rodeo, Jay Chapman, Brad Paisley, Nate Bargatze, John Heffron, Jon Reep, Sarah Tiana, Mike E. Winfield, United States, August 15, 2017, 2017, TV-MA, 63 min, Stand-Up Comedy, Country music star Brad Paisley hosts a night of music and laughs with comics Nate Bargatze, John Heffron, Jon Reep, Sarah Tiana and Mike E. Winfield.]                                                                                                                                                           |
|[80068219, Movie, Colin Quinn: Unconstitutional, Jay Chapman, Colin Quinn, United States, August 15, 2017, 2015, TV-MA, 56 min, Stand-Up Comedy, New York comedian Colin Quinn writes and stars in this live one-man stage show that dissects and deconstructs U.S. constitutional history.]                                                                                                                                                                                                                                            |
|[70209163, Movie, Goon, Michael Dowse, Seann William Scott, Jay Baruchel, Liev Schreiber, Alison Pill, Marc-André Grondin, Kim Coates, Eugene Levy, Nicholas Campbell, Richard Clarkin, Jonathan Cherry, United States, Canada, August 15, 2017, 2011, R, 92 min, Comedies, Sports Movies, When he's seen dispatching a rude opposing hockey player in the stands, Doug Glatt is hired by a rival team ... for his fighting skills.]                                                                                                    |
|[80170687, TV Show, Million Yen Women, , Yojiro Noda, Rila Fukushima, Rena Matsui, Miwako Wagatsuma, Rena Takeda, Yuko Araki, Yuya Endo, Kaito Yoshimura, Moeka Hoshi, Juri Ihata, Mariko Tsutsui, Kanji Furutachi, Tetsuhiro Ikeda, Takashi Yamanaka, Tomoya Nakamura, Lily Franky, Japan, August 15, 2017, 2017, TV-MA, 1 Season, Crime TV Shows, International TV Shows, TV Dramas, Five beautiful but mysterious women move in with unsuccessful novelist Shin, who manages their odd household in exchange for a tidy monthly sum.]|
|[80163191, Movie, My Ex-Ex, Nathaniel Warsh, André Bharti, Katherine Barrell, Ray Galletti, Emily Alatalo, Tamara Duarte, Randal Edwards, Alastair Forbes, Jesse Camacho, Canada, August 15, 2017, 2015, TV-MA, 91 min, Comedies, Romantic Movies, A recently dumped attorney hires a psychic to help her win back her boyfriend. Things take an unexpected turn when another ex re-enters the picture.]                                                                                                                                |
|[80184661, Movie, We're No Animals, Alejandro Agresti, John Cusack, Paul Hipp, Kevin Morris, Alejandro Agresti, Mario Alarcón, Norman Briski, Lucila Solá, Juana Viale, Pablo Bossi, Leticia Brédice, United States, Argentina, August 15, 2017, 2015, TV-MA, 94 min, Comedies, Dramas, Independent Movies, Unhappy with his commercial film work, a jaded Hollywood actor moves to Argentina to participate in an experimental thesis on social philosophy.]                                                                           |
|[80114588, TV Show, Behind Enemy Lines, , , United States, August 15, 2016, 2001, TV-14, 1 Season, British TV Shows, Docuseries, After dire setbacks in 1940, Winston Churchill commissions a new kind of fighting force: commandos trained to use stealth and audacious tactics.]                                                                                                                                                                                                                                                      |
|[80078761, Movie, Being AP, Anthony Wonke, Tony McCoy, United Kingdom, August 15, 2016, 2015, TV-14, 99 min, Documentaries, International Movies, Sports Movies, With retirement staring him in the face, an all-time-great jump jockey pursues his 20th consecutive title in his unrelenting quest for glory.]                                                                                                                                                                                                                         |
|[80115844, Movie, John & Jane, Ashim Ahluwalia, , India, August 15, 2016, 2005, TV-14, 79 min, Documentaries, International Movies, Truth and fiction blend in this quasi-documentary about six exhausted workers at a Mumbai call center servicing U.S. customers.]                                                                                                                                                                                                                                                                    |
|[80114111, Movie, Louis C.K.: Live at the Comedy Store, Louis C.K., Louis C.K., United States, August 15, 2016, 2015, , 66 min, Movies, The comic puts his trademark hilarious/thought-provoking spin on finding a bat in his kitchen, seeing rats having sex, Boston accents and dead pets.]                                                                                                                                                                                                                                           |
|[80108998, Movie, Real Crime: Supermarket Heist (Tesco Bomber), , , United Kingdom, August 15, 2016, 2010, TV-14, 46 min, Documentaries, In 2000, U.K. detectives spent months tracking a criminal known only as Sally, who was targeting a supermarket chain with extortion and letter bombs.]                                                                                                                                                                                                                                         |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

# **Creating typed columns**

There are several ways to do this operation depending on your needs, but for this dataset we'll explicitly convert the strings in the ArrayType column (ie, a Spark list column) to actual dataframe columns. The `.getItem()` method returns the value at the specified index of the listcolumn (ie, of `splitcolumn`). 

Let's consider if we wanted to create a full dataframe from the following example dataframe (`df_1`):

splitcolumn |
---|
[1,USA,North America]
[2,France,Europe]
[3,China,Asia]

```
df_1 = df_1.withColumn('country_id', df_1.splitcolumn.getItem(0).cast(IntegerType())
df_1 = df_1.withColumn('country_name', df_1.splitcolumn.getItem(1))
df_1 = df_1.withColumn('continent', df_1.splitcolumn.getItem(2))
```

This would give you a resulting dataframe of:

splitcolumn | country_id | country_name | continent
---|---|---|---
[1,USA,North America]|1|USA|North America
[2,France,Europe]|2|France|Europe
[3,China,Asia]|3|China|Asia

The `splitcolumn` is currently still present - we'll take care of that later on.

Note that for `show_id` and `release_year`, we'll also use `.cast()` to specify them as integers rather than just strings. We also need to import the `IntegerType` from the `pyspark.sql.types` module to properly cast our data to an integer column in Spark.

In [0]:
from pyspark.sql.types import IntegerType

# Create columns with specific data types using .getItem()

titles_cleaned_df = titles_cleaned_df.withColumn('show_id', titles_cleaned_df.splitcolumn.getItem(0).cast(IntegerType()))
titles_cleaned_df = titles_cleaned_df.withColumn('type', titles_cleaned_df.splitcolumn.getItem(1))
titles_cleaned_df = titles_cleaned_df.withColumn('title', titles_cleaned_df.splitcolumn.getItem(2))
titles_cleaned_df = titles_cleaned_df.withColumn('director', titles_cleaned_df.splitcolumn.getItem(3))
titles_cleaned_df = titles_cleaned_df.withColumn('cast', titles_cleaned_df.splitcolumn.getItem(4))
titles_cleaned_df = titles_cleaned_df.withColumn('country', titles_cleaned_df.splitcolumn.getItem(5))
titles_cleaned_df = titles_cleaned_df.withColumn('date_added', titles_cleaned_df.splitcolumn.getItem(6))
titles_cleaned_df = titles_cleaned_df.withColumn('release_year', titles_cleaned_df.splitcolumn.getItem(7).cast(IntegerType()))
titles_cleaned_df = titles_cleaned_df.withColumn('rating', titles_cleaned_df.splitcolumn.getItem(8))
titles_cleaned_df = titles_cleaned_df.withColumn('duration', titles_cleaned_df.splitcolumn.getItem(9))
titles_cleaned_df = titles_cleaned_df.withColumn('listed_in', titles_cleaned_df.splitcolumn.getItem(10))
titles_cleaned_df = titles_cleaned_df.withColumn('description', titles_cleaned_df.splitcolumn.getItem(11))

Let's now drop our columns that aren't needed anymore. These are `_c0` (the original single line string), `fieldcount`, and `splitcolumn`. You can drop these as a single column per entry, or a comma-separated set of column names.

In [0]:
# Drop original _c0 column

titles_cleaned_df = titles_cleaned_df.drop('_c0', 'fieldcount', 'splitcolumn')

Let's verify our content, check the row count, and then look at our schema.

In [0]:
# Showcase new DataFrame

titles_cleaned_df.show()

+--------+-------+--------------------+--------------------+--------------------+--------------------+---------------+------------+------+--------+--------------------+--------------------+
| show_id|   type|               title|            director|                cast|             country|     date_added|release_year|rating|duration|           listed_in|         description|
+--------+-------+--------------------+--------------------+--------------------+--------------------+---------------+------------+------+--------+--------------------+--------------------+
|81002212|  Movie|            Bioscope|Gajendra Ahire, V...|Nina Kulkarni, Su...|               India|August 15, 2018|        2015| TV-14| 131 min|Dramas, Internati...|Inspired by class...|
|80176707|  Movie|  For Here or to Go?|   Rucha Humnabadkar|Ali Fazal, Melani...|United States, India|August 15, 2018|        2015| TV-MA| 105 min|Comedies, Dramas,...|A software engine...|
|80199381|  Movie|            Hostiles|        Scott Cooper|Christian Bale, R...|       United States|August 15, 2018|        2017|     R| 134 min|              Dramas|After a long care...|
|80202176|  Movie|Hurricane Bianca:...|       Matt Kugelman|Roy Haylock, Rach...|       United States|August 15, 2018|        2018| TV-MA|  85 min|Comedies, Indepen...|When Texas teache...|
|81014293|TV Show| Nuestra Lucha Libre|                    |                    |                    |August 15, 2018|        2018| TV-MA|1 Season|Docuseries, Inter...|This documentary ...|
|81014811|TV Show|The Creative Indians|                    |                    |                    |August 15, 2018|        2017|    NR|1 Season|Docuseries, Inter...|From chefs and co...|
|70123118|  Movie|What's Your Raashee?|  Ashutosh Gowariker|Priyanka Chopra, ...|               India|August 15, 2018|        2009| TV-PG| 203 min|Comedies, Interna...|To protect his fa...|
|80175913|TV Show|          20 Minutes|                    |Tuba Büyüküstün, ...|              Turkey|August 15, 2017|        2013| TV-MA|1 Season|Crime TV Shows, I...|When his wife is ...|
|80182274|  Movie|            Barbecue|      Matthew Salleh|                    |Australia, Armeni...|August 15, 2017|        2017| TV-MA| 101 min|Documentaries, In...|A blend of cultur...|
|80185166|  Movie|Brad Paisley's Co...|         Jay Chapman|Brad Paisley, Nat...|       United States|August 15, 2017|        2017| TV-MA|  63 min|     Stand-Up Comedy|Country music sta...|
|80068219|  Movie|Colin Quinn: Unco...|         Jay Chapman|         Colin Quinn|       United States|August 15, 2017|        2015| TV-MA|  56 min|     Stand-Up Comedy|New York comedian...|
|70209163|  Movie|                Goon|       Michael Dowse|Seann William Sco...|United States, Ca...|August 15, 2017|        2011|     R|  92 min|Comedies, Sports ...|When he's seen di...|
|80170687|TV Show|   Million Yen Women|                    |Yojiro Noda, Rila...|               Japan|August 15, 2017|        2017| TV-MA|1 Season|Crime TV Shows, I...|Five beautiful bu...|
|80163191|  Movie|            My Ex-Ex|     Nathaniel Warsh|André Bharti, Kat...|              Canada|August 15, 2017|        2015| TV-MA|  91 min|Comedies, Romanti...|A recently dumped...|
|80184661|  Movie|    We're No Animals|   Alejandro Agresti|John Cusack, Paul...|United States, Ar...|August 15, 2017|        2015| TV-MA|  94 min|Comedies, Dramas,...|Unhappy with his ...|
|80114588|TV Show|  Behind Enemy Lines|                    |                    |       United States|August 15, 2016|        2001| TV-14|1 Season|British TV Shows,...|After dire setbac...|
|80078761|  Movie|            Being AP|       Anthony Wonke|          Tony McCoy|      United Kingdom|August 15, 2016|        2015| TV-14|  99 min|Documentaries, In...|With retirement s...|
|80115844|  Movie|         John & Jane|     Ashim Ahluwalia|                    |               India|August 15, 2016|        2005| TV-14|  79 min|Documentaries, In...|Truth and fiction...|
|80114111|  Movie|Louis C.K.: Live ...|          Louis C.K.|          Louis C.K.|       United States|August 15, 2016|        2015|      |  66 min|              Movies|The comic puts hi...|
|80108998|  Movie|Real Crime: Super...|                    |                    |      United Kingdom|August 15, 2016|        2010| TV-14|  46 min|       Documentaries|In 2000, U.K. det...|
+--------+-------+--------------------+--------------------+--------------------+--------------------+---------------+------------+------+--------+--------------------+--------------------+
only showing top 20 rows

In [0]:
# Count rows

titles_cleaned_df.count()

6113

In [0]:
# Print the schema

titles_cleaned_df.printSchema()

root
 |-- show_id: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: integer (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

# **Even more cleanup**

With our last set of steps, we've successfully fixed our remaining **problems (1, 2, and 3)**. Now that we have a generally clean dataset, let's look for further issues.

If we look at the distinct values available in the show `type` column, we see an issue. This is a categorical data column - collapsing the values in this column is a typical data cleaning issue.

In [0]:
# Check out unique items in type column

titles_cleaned_df.select('type').distinct().show()

+-------+
|   type|
+-------+
|TV Show|
|  Movie|
|       |
+-------+

In [0]:
# Isolate rows where type is ""

titles_cleaned_df.where('type == ""').show()

+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+
| show_id|type|               title|      director|                cast|         country|      date_added|release_year|rating|duration|           listed_in|         description|
+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+
|80032097|    |        Romeo Ranjha|Navaniat Singh|Jazzy B, Garry Sa...|   India, Canada|November 1, 2017|        2014| TV-14| 122 min|Action & Adventur...|Two common boys t...|
|81039410|    |         Dry Martina|  Che Sandoval|Antonella Costa, ...|Chile, Argentina|    May 11, 2019|        2018| TV-MA| 100 min|Dramas, Independe...|An odd encounter ...|
|80156212|    |           Wakefield| Robin Swicord|Bryan Cranston, J...|   United States|   March 2, 2019|        2016|     R| 109 min|              Dramas|An unhappy father...|
|80219180|    |Darr Sabko Lagta Hai|              |        Bipasha Basu|           India|   March 1, 2018|        2015| TV-MA|1 Season|International TV ...|In this chilling ...|
|80204730|    |       The Last O.G.|              |Tracy Morgan, Tif...|   United States|December 5, 2018|        2018| TV-MA|1 Season|         TV Comedies|After 15 years be...|
+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+

You'll notice that we have 5 rows where the type is not specified when one should be. 

**Problem 8**: Invalid entry in a column - The type column should contain only `TV Show` or `Movie`, but it also contains an empty string value.


 We have a couple of options:

- Drop the rows
- Infer what the `type` is based on other content available in the dataset

You could remove the problem rows using something like:

```
titles_cleaned_df = titles_cleaned_df.where('type == "TV Show" or type == "Movie"')
```

That feels a bit like cheating though - let's consider how else we could determine this largely automatically.

If you look at the `duration` column, you'll notice that there are different meanings behind the entries. We have durations that contain the word *min* (minutes) or the word `Season` for seasons of the show. We can try to use these to properly set the `type` value for these rows.

This problem is a bit tricky though as Spark does not have the concept of updating data within a column without jumping through several hoops. We can however work through this issue using a User Defined Function, or UDF.

## **UDF**

If you haven't worked with them before, a UDF is a Python function that gets applied to every row of a DataFrame. They are extremely flexible and can help us work through issues such as our current one.

A UDF in Pyspark requires three things:

1. **A Python function or callable**: This is the function that you want called when the UDF is run by Spark.
2. **A UDF variable**: Defined by the `udf()` function, with the Python callable defined in #1, and the Spark return type.
3. **A Spark transformation**: The UDF must be defined via a transformation (ie `.withColumn()`) to be applied to the dataframe.

Consider the following dataframe `df_1`, containing a two fields, `a` and `b`

a|b
---|---
1|2
2|3
3|4

For illustration, let's say we want to use a UDF to define a new column, which is simply the value `a*b`, unless the value of `a` is `3`. If it is, then we want the value to be `0`.

Let's define our function - taking two arguments, `a`, and `b`. 

```
def multiply(a, b):
  if a == 3:
    return 0
  else:
    return a*b
```

Now, we need to define our UDF variable. We need to import `udf` from `pyspark.sql.functions`, and as we're returning an integer value, we need to import `IntegerType` from `pyspark.sql.types`. 

```
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

udfMultiply = udf(multiply, IntegerType())
```

Note that the `udf` function only takes the name of the callable, not any arguments. Those are defined with our last step - defining a new column. 

```
df_1 = df_1.withColumn('output', udfMultiply(F.col('a'), F.col('b')))
```

Note that in this instance we're using the `F.col` method to refer to the column. You could use any of the other valid Spark methods to specify a dataframe column (ie, `df_1.a`, `df_1['b']`, etc).

Assuming we run a Spark action, such as `.show()`, we would get a dataframe with the following contents:

a|b|output
---|---|---
1|2|2
2|3|6
3|4|0

*Note this is a trivial example for illustration purposes - the same behavior would be much better implemented using assorted functions in the Spark libraries.*


First, let's define our Python function that takes two arguments, a showtype (ie, *Movie*, *TV Show*, or other) and the showduration. Note that these are strings in this case. We'll check if the showtype is already a Movie or TV Show - if so, just return that value. Otherwise, we'll check if the showduration ends with *min*, indicating a Movie. If not, we'll specify it as a TV Show.

In [0]:
# Define the UDF callable

def deriveType(showtype, showduration):
  if showtype == 'Movie' or showtype == 'TV Show':
    return showtype
  else:
    if showduration.endswith('min'):
      return "Movie"
    else:
      return "TV Show"

# **Define the UDF for Spark**

Now we need to configure the UDF for Spark to access it accordingly.

In [0]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

udfDeriveType = udf(deriveType, StringType())

In [0]:
# Create a new derived column, passing in the appropriate values

titles_cleaned_df = titles_cleaned_df.withColumn('derivedType', udfDeriveType(F.col('type'), F.col('duration')))

In [0]:
# Show the rows where type is an empty string again, examining the derivedType
titles_cleaned_df.where('type == ""').show()

+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+-----------+
| show_id|type|               title|      director|                cast|         country|      date_added|release_year|rating|duration|           listed_in|         description|derivedType|
+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+-----------+
|80032097|    |        Romeo Ranjha|Navaniat Singh|Jazzy B, Garry Sa...|   India, Canada|November 1, 2017|        2014| TV-14| 122 min|Action & Adventur...|Two common boys t...|      Movie|
|81039410|    |         Dry Martina|  Che Sandoval|Antonella Costa, ...|Chile, Argentina|    May 11, 2019|        2018| TV-MA| 100 min|Dramas, Independe...|An odd encounter ...|      Movie|
|80156212|    |           Wakefield| Robin Swicord|Bryan Cranston, J...|   United States|   March 2, 2019|        2016|     R| 109 min|              Dramas|An unhappy father...|      Movie|
|80219180|    |Darr Sabko Lagta Hai|              |        Bipasha Basu|           India|   March 1, 2018|        2015| TV-MA|1 Season|International TV ...|In this chilling ...|    TV Show|
|80204730|    |       The Last O.G.|              |Tracy Morgan, Tif...|   United States|December 5, 2018|        2018| TV-MA|1 Season|         TV Comedies|After 15 years be...|    TV Show|
+--------+----+--------------------+--------------+--------------------+----------------+----------------+------------+------+--------+--------------------+--------------------+-----------+

In [0]:
# Drop the original type column and rename derviedType to type
titles_cleaned_df = titles_cleaned_df.drop('type').withColumnRenamed('derivedType', 'type')

In [0]:
# Verify we only have two types available
titles_cleaned_df.select('type').distinct().show()

+-------+
|   type|
+-------+
|TV Show|
|  Movie|
+-------+

In [0]:
# Verify our row count is the same
titles_cleaned_df.count()

6113

We've now successfully resolved **problem 8**.

# **Saving data for analysis / further processing**

The last step of our data cleaning is to save the cleaned dataframe out to a file type. If you plan to do any further analysis or processing using Spark, it's highly recommended you use Parquet. Other options are available per your needs, but Spark is optimized to take advantage of Parquet.

There are two options we use for the `.write.parquet()` method:

- The path of where to write the file
- An optional `mode` parameter, which we've set to `overwrite`. This allows Spark to write data to an existing location, solving some potential issues in a notebook environment.

In [0]:
# Save the data

titles_cleaned_df.write.parquet('/tmp/netflix_titles_cleaned.parquet', mode='overwrite')

Let's now take a look at the contents using the `ls` shell command. You'll notice that the `/tmp/netflix_titles_cleaned.parquet` location is actually a directory, not just a file. This is due to the way Spark handles its data allocation and formatting. More on this in a minute.

In [0]:
!ls /tmp/netflix_titles_cleaned.parquet

part-00000-2ae69860-b62a-4086-966b-d59fe32777fe-c000.snappy.parquet  _SUCCESS
part-00001-2ae69860-b62a-4086-966b-d59fe32777fe-c000.snappy.parquet

Note that typically when processing data in Spark, you'll want to use the Parquet format as described above. This is great for any further processing or analysis you plan to do in Spark. However, it can be difficult to read Parquet files outside of Spark without extra work. As such, let's create a version in CSV format that you can download if you desire.

We'll need to do four steps for this operation:

- Combine the data into a single file using the `.coalesce(1)` transformation. Spark normally keeps data in separate files to improve performance and bypass RAM issues. Our dataset is small and we can bypass those concerns.
- Use the `.write.csv()` method (instead of `.write.parquet()`). We'll also add an extra option of `sep='\t'` to bypass the issue of commas being present in our data. We also have to define a `header=True` component so our columns are named correctly.
- Rename the file to something usable with a shell command `mv`. Spark stores files named via their partition id. We need to rename that to something more recognizable.
- Finally, we'll use a special command specific to the notebook environment to download the file.

As you've seen within Spark, you can chain commands together. As such, we'll combine the first two components.

In [0]:
# Coalesce and save the data in CSV format

titles_cleaned_df.coalesce(1).write.csv('/tmp/netflix_titles_cleaned.csv', mode='overwrite', sep='\t', header=True)

In [0]:
# Look at the output of the command using the shell command `ls`

!ls /tmp/netflix_titles_cleaned.csv

part-00000-5f404d8b-c020-478e-856d-76999184e063-c000.csv  _SUCCESS

In [0]:
# Rename the data file

!mv /tmp/netflix_titles_cleaned.csv/part-00000*.csv /tmp/netflix_titles_cleaned_final.csv

In [0]:
# Download the file via notebook tools

from google.colab import files
files.download('/tmp/netflix_titles_cleaned_final.csv')

# **Challenges**

We've looked at several data cleaning operations using Spark. Here are some other challenges to consider within the dataset:

1) *Splitting names* - 
  You may have noticed that the names are combined for the cast and directors into a list. Consider how you would turn that data into a list / array column to easily access more detailed information (which shows have the largest cast, etc?)

2) *Splitting names further* - Consider taking any of the name fields and splitting it into first name, last name, etc. Take special consideration about how you would handle initials, names with more than 3 components, etc.

3) *Parsing dates* - Look at the `date_added` field and determine if and how you could reliably convert this to an actual datetime field.

# **Last Q&A**