In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Sample Spark').getOrCreate()

## Read single liner json

In [87]:
# Read JSON

df = spark.read.format('json')\
    .option('mode', 'PERMISSIVE')\
    .option('inferSchema', 'true')\
    .load('./data/single_line.json')

df.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

## Read Multiline JSON

In [86]:
# Read Multiline JSON

df = spark.read.format('json')\
    .option('mode', 'PERMISSIVE')\
    .option('inferSchema', 'true')\
    .option('multiline', 'true')\
    .load('./data/multiline_json.json')

df.show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

## Simple CSV

In [85]:
# Read CSV

df = spark.read.format('csv')\
    .option('inferSchema', True)\
    .option('header', True)\
    .load('./data/simple_csv.csv')

df.show()

+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
|year|industry_code_ANZSIC|industry_name_ANZSIC|rme_size_grp|            variable|value|             unit|
+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
|2011|                   A|Agriculture, Fore...|         a_0|       Activity unit|46134|            COUNT|
|2011|                   A|Agriculture, Fore...|         a_0|Rolling mean empl...|    0|            COUNT|
|2011|                   A|Agriculture, Fore...|         a_0|Salaries and wage...|  279|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Sales, government...| 8187|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|        Total income| 8866|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|   Total expenditure| 7618|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Operating profit ...|  770|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|        Total assets|55700|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|         a_0|Fixed tangible as...|32155|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|       Activity unit|21777|            COUNT|
|2011|                   A|Agriculture, Fore...|       b_1-5|Rolling mean empl...|38136|            COUNT|
|2011|                   A|Agriculture, Fore...|       b_1-5|Salaries and wage...| 1435|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Sales, government...|13359|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|        Total income|13771|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|   Total expenditure|12316|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Operating profit ...| 1247|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|        Total assets|52666|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       b_1-5|Fixed tangible as...|31235|DOLLARS(millions)|
|2011|                   A|Agriculture, Fore...|       c_6-9|       Activity unit| 1965|            COUNT|
|2011|                   A|Agriculture, Fore...|       c_6-9|Rolling mean empl...|13848|            COUNT|
+----+--------------------+--------------------+------------+--------------------+-----+-----------------+
only showing top 20 rows

## CSV with DDL Schema

In [82]:
#  don't consider space in the column names

schema = """
Index int,
CustomerId string,
FirstName string,
LastName string,
Company	string,
City string,
Country string,
Phone1 double,
Phone2 double,
Email string,
SubscriptionDate date,
Website string
"""

spark.read.format('csv')\
    .schema(schema)\
    .option('header', 'true')\
    .load('./data/for_csv_ddl.csv').show()

+-----+---------------+---------+---------+--------------------+-----------------+--------------------+-------------+------+--------------------+----------------+--------------------+
|Index|     CustomerId|FirstName| LastName|             Company|             City|             Country|       Phone1|Phone2|               Email|SubscriptionDate|             Website|
+-----+---------------+---------+---------+--------------------+-----------------+--------------------+-------------+------+--------------------+----------------+--------------------+
|    1|DD37Cf93aecA6Dc|   Sheryl|   Baxter|     Rasmussen Group|     East Leonard|               Chile|         null|  null|zunigavanessa@smi...|      2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|  Preston|   Lozano|         Vega-Gentry|East Jimmychester|            Djibouti|5.153435776E9|  null|     vmata@colon.com|      2021-04-23|http://www.hobbs....|
|    3|6F94879bDAfE5a6|      Roy|    Berry|       Murillo-Perry|    Isabelborough| Antigua and Barbuda|         null|  null| beckycarr@hogan.com|      2020-03-25|http://www.lawren...|
|    4|5Cef8BFA16c5e3c|    Linda|    Olsen|Dominguez, Mcmill...|       Bensonview|  Dominican Republic|         null|  null|stanleyblackwell@...|      2020-06-02|http://www.good-l...|
|    5|053d585Ab6b3159|   Joanna|   Bender|Martin, Lang and ...|   West Priscilla|Slovakia (Slovak ...|         null|  null|colinalvarado@mil...|      2021-04-17|https://goodwin-i...|
|    6|2d08FB17EE273F4|    Aimee|    Downs|        Steele Group|    Chavezborough|Bosnia and Herzeg...|         null|  null| louis27@gilbert.com|      2020-02-25|http://www.berger...|
|    7|EA4d384DfDbBf77|   Darren|     Peck|Lester, Woodard a...|         Lake Ana|    Pitcairn Islands|         null|  null| tgates@cantrell.com|      2021-08-24| https://www.le.com/|
|    8|0e04AFde9f225dE|    Brett|   Mullen|Sanford, Davenpor...|          Kimport|            Bulgaria|         null|  null|     asnow@colon.com|      2021-04-12|https://hammond-r...|
|    9|C2dE4dEEc489ae0|   Sheryl|   Meyers|      Browning-Simon|     Robersonstad|              Cyprus|         null|  null|mariokhan@ryan-po...|      2020-01-13|https://www.bullo...|
|   10|8C2811a503C7c5a| Michelle|Gallagher|        Beck-Hendrix|       Elaineberg|         Timor-Leste|         null|  null|   mdyer@escobar.net|      2021-11-08|  https://arias.com/|
|   11|216E205d6eBb815|     Carl|Schroeder|Oconnell, Meza an...|     Shannonville|            Guernsey|         null|  null|  kirksalas@webb.com|      2021-10-20|https://simmons-h...|
|   12|CEDec94deE6d69B|    Jenna|   Dodson|Hoffman, Reed and...|      East Andrea|             Vietnam|         null|  null|  mark42@robbins.com|      2020-11-29|http://www.dougla...|
|   13|e35426EbDEceaFF|   Tracey|     Mata|      Graham-Francis|South Joannamouth|                Togo|         null|  null|    alex56@walls.org|      2021-12-02|http://www.beck.com/|
|   14|A08A8aF8BE9FaD4| Kristine|      Cox|      Carpenter-Cook|         Jodyberg|           Sri Lanka|         null|  null|holdenmiranda@cla...|      2021-02-08|https://www.brand...|
|   15|6fEaA1b7cab7B6C|    Faith|     Lutz|      Carter-Hancock|        Burchbury|           Singapore|         null|  null|cassieparrish@ble...|      2022-01-26|http://stevenson....|
|   16|8cad0b4CBceaeec|  Miranda|  Beasley|  Singleton and Sons|     Desireeshire|                Oman|         null|  null|vduncan@parks-har...|      2022-04-12|  http://acosta.org/|
|   17|a5DC21AE3a21eaA| Caroline|    Foley|     Winters-Mendoza|West Adriennestad|      Western Sahara|         null|  null|holtgwendolyn@wat...|      2021-03-10|http://www.benson...|
|   18|F8Aa9d6DfcBeeF8|     Greg|     Mata|       Valentine LLC|      Lake Leslie|          Mozambique|         null|  null|jaredjuarez@carro...|      2022-03-26|http://pitts-cher...|
|   19|F160f5Db3EfE973| Clifford| Jacobson|           Simon LLC|       Harmonview|South Georgia and...|         null|  null|joseph26@jacobson...|      2020-09-24|https://mcconnell...|
|   20|0F60FF3DdCd7aB0|   Joanna|     Kirk|      Mays-Mccormick|       Jamesshire|    French Polynesia|         null|  null|tuckerangie@salaz...|      2021-09-24|https://www.camac...|
+-----+---------------+---------+---------+--------------------+-----------------+--------------------+-------------+------+--------------------+----------------+--------------------+
only showing top 20 rows

## JSON with DDL Schema

In [113]:
# Simple JSON

schema = """
    id INT,
    name STRING
"""
spark.read.format('json')\
    .option('multiline', 'true')\
    .schema(schema)\
    .load('./data/for_ddl1.json').show()

+---+------+
| id|  name|
+---+------+
|  1|Laptop|
+---+------+

In [129]:
# NESTED JSON

schema = """
    id INT,
    name STRING,
    features STRUCT<
    RAM: STRING,
    storage: STRING
    >
"""

df = spark.read.format('json')\
    .option('multiline', 'true')\
    .schema(schema)\
    .load('./data/for_ddl2.json')

df.select('features.RAM').show()

+----+
| RAM|
+----+
|16GB|
+----+

In [140]:
# COMPLEX JSON

schema = """
    products ARRAY<STRUCT<
    id INT,
    name STRING,
    features STRUCT<
    RAM: STRING,
    storage: STRING
    >,
    tags ARRAY<STRING>
    >>
"""

df = spark.read.format('json')\
    .option('multiline', 'true')\
    .schema(schema)\
    .load('./data/for_ddl3.json')

df.select('products.features.RAM').show()

+-----------+
|        RAM|
+-----------+
|[16GB, 8GB]|
+-----------+

In [146]:
# What if I want one row per product?
#  Explode
from pyspark.sql.functions import explode, col
# Explode the products array to get each product in a separate row
df_exploded = df.select(explode(col("products")).alias("product"))

df_exploded.show(truncate=False)
# Filter for the product with 8GB RAM and select the RAM
df_exploded.select("product.features.RAM").filter(col("product.features.RAM") == "8GB").show()

df_exploded.select("product.features.RAM").collect()[0]

+--------------------------------------------------------+
|product                                                 |
+--------------------------------------------------------+
|{1, Laptop, {16GB, 512GB SSD}, [electronics, computers]}|
|{2, Smartphone, {8GB, 128GB}, [electronics, mobile]}    |
+--------------------------------------------------------+

+---+
|RAM|
+---+
|8GB|
+---+

Row(RAM='16GB')