In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('cleaner').getOrCreate()

In [3]:
customer_df = spark.read.format('csv')\
                .option('inferSchema','true')\
                .option('header', 'true')\
                .load('./dim_customer_dirty.csv')

customer_df.show(10)

+-----------+----------+-----------------+--------------------+-----------------+--------------+---------------------+
|customer_id|first_name|        last_name|             address|          pincode|  phone_number|customer_joining_date|
+-----------+----------+-----------------+--------------------+-----------------+--------------+---------------------+
|     4986.0|   Balveer|        Choudhury|31/30, Devan Naga...|         376853.0|913000656779.0|           2021-04-20|
|     6642.0|    Kalpit|            Divan|15, Zacharia Naga...|         331701.0|911454391537.0|           2022-05-14|
|     7763.0|   Dominic|    Radhakrishnan|834, Rajagopal Ro...|         351147.0|  1346045138.0|           2022-02-28|
|     2420.0|    Raghav|        Ramaswamy|H.No. 24, Memon P...|         668002.0|  6956574158.0|           2022-01-21|
|     8576.0|     Zinal|     Venkataraman|832, Majumdar Roa...|             null|  3399052109.0|           2022-07-20|
|     1637.0|     Anita|           Barman|H.No. 88, Upadhya...|         485277.0|    29562838.0|           2020-05-18|
|     2482.0|    Rushil|            Datta|H.No. 84, Gera, B...|468.6807641671118|919563687082.0|           2021-09-03|
|     2366.0|     Falan|544.3557678643479|83/055, Keer Zila...|         800976.0|919195103295.0|           2020-12-04|
|     magnam|    Nathan|          Bhavsar|17, Ghose Chowk, ...|         283282.0|  7260407415.0|           2023-04-28|
|     9456.0|     Zarna|            Ratti|13, Balan Street,...|         914256.0|   174127259.0|           2020-11-20|
+-----------+----------+-----------------+--------------------+-----------------+--------------+---------------------+
only showing top 10 rows

In [4]:
# Need to remove the records where id/first name/ last name is missing
#  Remove if name is not a string and a number

from pyspark.sql import functions as F

# print(customer_df.count())

customer_df_v2 = (customer_df
.filter(F.col('customer_id').cast('int').isNotNull())
.filter(F.col('first_name').cast('string').isNotNull())
.filter(F.col('last_name').cast('string').isNotNull())
.filter(~F.col('first_name').rlike('[0-9]'))
.filter(~F.col('last_name').rlike('[0-9]'))
)


customer_df_v2.show()

+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+
|customer_id|first_name|    last_name|             address|          pincode|  phone_number|customer_joining_date|
+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+
|     4986.0|   Balveer|    Choudhury|31/30, Devan Naga...|         376853.0|913000656779.0|           2021-04-20|
|     6642.0|    Kalpit|        Divan|15, Zacharia Naga...|         331701.0|911454391537.0|           2022-05-14|
|     7763.0|   Dominic|Radhakrishnan|834, Rajagopal Ro...|         351147.0|  1346045138.0|           2022-02-28|
|     2420.0|    Raghav|    Ramaswamy|H.No. 24, Memon P...|         668002.0|  6956574158.0|           2022-01-21|
|     8576.0|     Zinal| Venkataraman|832, Majumdar Roa...|             null|  3399052109.0|           2022-07-20|
|     1637.0|     Anita|       Barman|H.No. 88, Upadhya...|         485277.0|    29562838.0|           2020-05-18|
|     2482.0|    Rushil|        Datta|H.No. 84, Gera, B...|468.6807641671118|919563687082.0|           2021-09-03|
|     9456.0|     Zarna|        Ratti|13, Balan Street,...|         914256.0|   174127259.0|           2020-11-20|
|     8164.0|    Aachal|          Rau|H.No. 52, Nanda C...|         434197.0|          null|           2022-04-21|
|     7038.0|       Oni|        Reddy|175, Bhargava Gan...|         194099.0|  6266783729.0|    47.94451670154531|
|     4045.0|    Aadhya|          Jha|H.No. 854, Gulati...|         148398.0|  9778070448.0|           2021-10-12|
|     6317.0|      Riya|        Bassi|23/159, Parmar Zi...|         281648.0|916374678740.0|           2021-05-17|
|     7841.0|   Jagdish|         Shan|76/97, Samra Road...|         386800.0|  1909943410.0|           2022-07-29|
|     1405.0|     Advik| Venkataraman|   257.7506818607358|         187990.0|   255132491.0|           2020-01-31|
|     7350.0|    Gautam|        Palla|H.No. 31, Kashyap...|         763900.0|  8203031333.0|           2021-12-04|
|     1489.0|     Faris|        Nigam|404, Biswas Road,...|       2020-01-25|914716418684.0|             411987.0|
|     3346.0|    Indali|        Naidu|54/055, Apte Stre...|         901224.0|    laudantium|           2020-08-26|
|     6882.0|   Rachita|         Char|                null|         447450.0|913908644331.0|           2022-09-10|
|     8341.0|     Jatin|         Dhar|28/678, Luthra Ch...|         864599.0|  3211957823.0|           2020-01-01|
|     5253.0|   Jagdish|        Sodhi|H.No. 57, Sarma C...|         662731.0|912600373450.0|           2020-04-20|
+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+

In [8]:
# Need to check if both pincode and address are missing drop the row
# if pincode is present, make the address as 'missing address'

print('df2 count: ', customer_df_v2.count())

customer_df_v3 = (customer_df_v2.filter(
    ~(F.col('address').isNull() & F.col('pincode').isNull())))

print('df3 count: ', customer_df_v3.count())

df2 count:  20
df3 count:  20

In [9]:
customer_df_v3.show()
customer_df_v3.count()

+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+
|customer_id|first_name|    last_name|             address|          pincode|  phone_number|customer_joining_date|
+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+
|     4986.0|   Balveer|    Choudhury|31/30, Devan Naga...|         376853.0|913000656779.0|           2021-04-20|
|     6642.0|    Kalpit|        Divan|15, Zacharia Naga...|         331701.0|911454391537.0|           2022-05-14|
|     7763.0|   Dominic|Radhakrishnan|834, Rajagopal Ro...|         351147.0|  1346045138.0|           2022-02-28|
|     2420.0|    Raghav|    Ramaswamy|H.No. 24, Memon P...|         668002.0|  6956574158.0|           2022-01-21|
|     8576.0|     Zinal| Venkataraman|832, Majumdar Roa...|             null|  3399052109.0|           2022-07-20|
|     1637.0|     Anita|       Barman|H.No. 88, Upadhya...|         485277.0|    29562838.0|           2020-05-18|
|     2482.0|    Rushil|        Datta|H.No. 84, Gera, B...|468.6807641671118|919563687082.0|           2021-09-03|
|     9456.0|     Zarna|        Ratti|13, Balan Street,...|         914256.0|   174127259.0|           2020-11-20|
|     8164.0|    Aachal|          Rau|H.No. 52, Nanda C...|         434197.0|          null|           2022-04-21|
|     7038.0|       Oni|        Reddy|175, Bhargava Gan...|         194099.0|  6266783729.0|    47.94451670154531|
|     4045.0|    Aadhya|          Jha|H.No. 854, Gulati...|         148398.0|  9778070448.0|           2021-10-12|
|     6317.0|      Riya|        Bassi|23/159, Parmar Zi...|         281648.0|916374678740.0|           2021-05-17|
|     7841.0|   Jagdish|         Shan|76/97, Samra Road...|         386800.0|  1909943410.0|           2022-07-29|
|     1405.0|     Advik| Venkataraman|   257.7506818607358|         187990.0|   255132491.0|           2020-01-31|
|     7350.0|    Gautam|        Palla|H.No. 31, Kashyap...|         763900.0|  8203031333.0|           2021-12-04|
|     1489.0|     Faris|        Nigam|404, Biswas Road,...|       2020-01-25|914716418684.0|             411987.0|
|     3346.0|    Indali|        Naidu|54/055, Apte Stre...|         901224.0|    laudantium|           2020-08-26|
|     6882.0|   Rachita|         Char|                null|         447450.0|913908644331.0|           2022-09-10|
|     8341.0|     Jatin|         Dhar|28/678, Luthra Ch...|         864599.0|  3211957823.0|           2020-01-01|
|     5253.0|   Jagdish|        Sodhi|H.No. 57, Sarma C...|         662731.0|912600373450.0|           2020-04-20|
+-----------+----------+-------------+--------------------+-----------------+--------------+---------------------+

20

In [51]:
# # Extracting Pincode from the address

# # Split the 'address' column into a list (split by space or comma)
# customer_df_v3_split = (customer_df_v3
#                         .withColumn('address_split', F.split(F.col('address'), ',| |-'))
#                         .filter(F.col('address_split').getItem(F.size(F.col('address_split'))-1).cast('int').isNotNull())
#                        )
# # customer_df_v3_split.select(F.col('address_split'),customer_df_v3_split.address_split.getItem(F.size(F.col('address_split'))-1)).show(truncate=False)
# # Show the resulting DataFrame
# # customer_df_v3_split.select(F.col('address_split').getItem(0)).show()

# customer_df_v3_split.select('address', F.col('address_split').getItem(F.size(F.col('address_split'))-1).alias('pincode')).show(truncate=False)

+------------------------------------------+-----------------+
|address                                   |pincode          |
+------------------------------------------+-----------------+
|31/30, Devan Nagar, Anand 799736          |799736           |
|15, Zacharia Nagar, Buxar-919980          |919980           |
|834, Rajagopal Road, Amaravati 801199     |801199           |
|H.No. 24, Memon Path, Nagercoil 265985    |265985           |
|832, Majumdar Road, Ongole-286732         |286732           |
|H.No. 88, Upadhyay Chowk, Orai 493235     |493235           |
|H.No. 84, Gera, Bhilwara 569429           |569429           |
|13, Balan Street, Medininagar-357773      |357773           |
|H.No. 52, Nanda Circle, Ahmednagar 518831 |518831           |
|175, Bhargava Ganj, Dhule 885357          |885357           |
|H.No. 854, Gulati Chowk, Tadipatri-177232 |177232           |
|23/159, Parmar Zila, Sri Ganganagar-469379|469379           |
|76/97, Samra Road, Motihari-476980        |476980           |
|257.7506818607358                         |257.7506818607358|
|H.No. 31, Kashyap, Bally 172013           |172013           |
|404, Biswas Road, Bareilly-682816         |682816           |
|54/055, Apte Street, Bokaro-874973        |874973           |
|28/678, Luthra Chowk, Haridwar-138699     |138699           |
|H.No. 57, Sarma Chowk, Jorhat-960770      |960770           |
+------------------------------------------+-----------------+

In [17]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
# if address is there and pincode is missing, write a UDF for extracting pincode from the address
# it's the last group of numbers in address
# Address must contain alpha-numeric otherwise put 'sample address'

# Alphanumenric check, otherwise put sameple address if pincode is present

# Where address is numeric and pincode is null

customer_df_v4 = customer_df_v3.filter(
    ~(F.col('address').rlike('^[0-9]+(\\.[0-9]+)?$') & F.col('pincode').isNull())
)

# When pincode is valid and address is numeric

customer_df_v4 = customer_df_v4.withColumn(
    'address',
    F.when(
     F.col('pincode').cast('int').isNotNull() & F.col('address').rlike('^[0-9]+(\\.[0-9]+)?$'),
        'sampleaddress1'
    ).otherwise(F.col('address'))
)

# When Pincode is Null or not integer and Address is valid
# Not using UDF due to it's performance
# Spliting Address with , or space( ) or -
# Checking if the Pincode is present at the end

customer_df_v4 = (customer_df_v4
                        .withColumn('address_split', F.split(F.col('address'), ',| |-'))
                        .filter(F.col('address_split').getItem(F.size(F.col('address_split'))-1).cast('int').isNotNull())
                       )

# check if Pincode is null or non-integer then place it from the address
# or when pincode len is not 6 digits

customer_df_v4 = customer_df_v4.withColumn(
    'pincode',
    F.when(
        F.col('pincode').cast('int').isNull()  |  F.col('pincode').isNull() |
        (F.col('pincode').isNotNull() & (F.length(F.col('pincode')) != 6)),
        F.col('address_split').getItem(F.size(F.col('address_split'))-1)
    ).otherwise(F.col('pincode'))
)

customer_df_v4 = customer_df_v4.drop(customer_df_v4.address_split)

customer_df_v4.show(truncate=False)

+-----------+----------+-------------+------------------------------------------+-------+--------------+---------------------+
|customer_id|first_name|last_name    |address                                   |pincode|phone_number  |customer_joining_date|
+-----------+----------+-------------+------------------------------------------+-------+--------------+---------------------+
|4986.0     |Balveer   |Choudhury    |31/30, Devan Nagar, Anand 799736          |799736 |913000656779.0|2021-04-20           |
|6642.0     |Kalpit    |Divan        |15, Zacharia Nagar, Buxar-919980          |919980 |911454391537.0|2022-05-14           |
|7763.0     |Dominic   |Radhakrishnan|834, Rajagopal Road, Amaravati 801199     |801199 |1346045138.0  |2022-02-28           |
|2420.0     |Raghav    |Ramaswamy    |H.No. 24, Memon Path, Nagercoil 265985    |265985 |6956574158.0  |2022-01-21           |
|8576.0     |Zinal     |Venkataraman |832, Majumdar Road, Ongole-286732         |286732 |3399052109.0  |2022-07-20           |
|1637.0     |Anita     |Barman       |H.No. 88, Upadhyay Chowk, Orai 493235     |493235 |29562838.0    |2020-05-18           |
|2482.0     |Rushil    |Datta        |H.No. 84, Gera, Bhilwara 569429           |569429 |919563687082.0|2021-09-03           |
|9456.0     |Zarna     |Ratti        |13, Balan Street, Medininagar-357773      |357773 |174127259.0   |2020-11-20           |
|8164.0     |Aachal    |Rau          |H.No. 52, Nanda Circle, Ahmednagar 518831 |518831 |null          |2022-04-21           |
|7038.0     |Oni       |Reddy        |175, Bhargava Ganj, Dhule 885357          |885357 |6266783729.0  |47.94451670154531    |
|4045.0     |Aadhya    |Jha          |H.No. 854, Gulati Chowk, Tadipatri-177232 |177232 |9778070448.0  |2021-10-12           |
|6317.0     |Riya      |Bassi        |23/159, Parmar Zila, Sri Ganganagar-469379|469379 |916374678740.0|2021-05-17           |
|7841.0     |Jagdish   |Shan         |76/97, Samra Road, Motihari-476980        |476980 |1909943410.0  |2022-07-29           |
|7350.0     |Gautam    |Palla        |H.No. 31, Kashyap, Bally 172013           |172013 |8203031333.0  |2021-12-04           |
|1489.0     |Faris     |Nigam        |404, Biswas Road, Bareilly-682816         |682816 |914716418684.0|411987.0             |
|3346.0     |Indali    |Naidu        |54/055, Apte Street, Bokaro-874973        |874973 |laudantium    |2020-08-26           |
|8341.0     |Jatin     |Dhar         |28/678, Luthra Chowk, Haridwar-138699     |138699 |3211957823.0  |2020-01-01           |
|5253.0     |Jagdish   |Sodhi        |H.No. 57, Sarma Chowk, Jorhat-960770      |960770 |912600373450.0|2020-04-20           |
+-----------+----------+-------------+------------------------------------------+-------+--------------+---------------------+

## Create Phone numbers with total length 10

In [21]:
# Fix phone number
customer_df_v4 = customer_df_v4.withColumn(
    'phone_number',
    F.when(
        F.col('phone_number').cast('int').isNull() | 
        (F.col('phone_number').cast('int').isNotNull() & (F.length(F.col('phone_number'))!= 10)),
        '0000000000'
    ).otherwise(F.col('phone_number'))
)

# Fix date
customer_df_v4 = customer_df_v4.withColumn(
    'customer_joining_date',
    F.when(
        F.col('customer_joining_date').cast('date').isNull(),
        '2021-01-01'
    ).otherwise(F.col('customer_joining_date'))
)

customer_df_v4.show()

+-----------+----------+-------------+--------------------+-------+------------+---------------------+
|customer_id|first_name|    last_name|             address|pincode|phone_number|customer_joining_date|
+-----------+----------+-------------+--------------------+-------+------------+---------------------+
|     4986.0|   Balveer|    Choudhury|31/30, Devan Naga...| 799736|  0000000000|           2021-04-20|
|     6642.0|    Kalpit|        Divan|15, Zacharia Naga...| 919980|  0000000000|           2022-05-14|
|     7763.0|   Dominic|Radhakrishnan|834, Rajagopal Ro...| 801199|  0000000000|           2022-02-28|
|     2420.0|    Raghav|    Ramaswamy|H.No. 24, Memon P...| 265985|  0000000000|           2022-01-21|
|     8576.0|     Zinal| Venkataraman|832, Majumdar Roa...| 286732|  0000000000|           2022-07-20|
|     1637.0|     Anita|       Barman|H.No. 88, Upadhya...| 493235|  29562838.0|           2020-05-18|
|     2482.0|    Rushil|        Datta|H.No. 84, Gera, B...| 569429|  0000000000|           2021-09-03|
|     9456.0|     Zarna|        Ratti|13, Balan Street,...| 357773|  0000000000|           2020-11-20|
|     8164.0|    Aachal|          Rau|H.No. 52, Nanda C...| 518831|  0000000000|           2022-04-21|
|     7038.0|       Oni|        Reddy|175, Bhargava Gan...| 885357|  0000000000|           2021-01-01|
|     4045.0|    Aadhya|          Jha|H.No. 854, Gulati...| 177232|  0000000000|           2021-10-12|
|     6317.0|      Riya|        Bassi|23/159, Parmar Zi...| 469379|  0000000000|           2021-05-17|
|     7841.0|   Jagdish|         Shan|76/97, Samra Road...| 476980|  0000000000|           2022-07-29|
|     7350.0|    Gautam|        Palla|H.No. 31, Kashyap...| 172013|  0000000000|           2021-12-04|
|     1489.0|     Faris|        Nigam|404, Biswas Road,...| 682816|  0000000000|           2021-01-01|
|     3346.0|    Indali|        Naidu|54/055, Apte Stre...| 874973|  0000000000|           2020-08-26|
|     8341.0|     Jatin|         Dhar|28/678, Luthra Ch...| 138699|  0000000000|           2020-01-01|
|     5253.0|   Jagdish|        Sodhi|H.No. 57, Sarma C...| 960770|  0000000000|           2020-04-20|
+-----------+----------+-------------+--------------------+-------+------------+---------------------+

In [57]:
customer_df_v4.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- pincode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- customer_joining_date: string (nullable = true)
 |-- address_split: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [24]:
from pyspark.sql.types import IntegerType, DateType

# Using `select` to cast the columns
cleaned_customer_df = customer_df_v4.select(
    customer_df_v4.customer_id.cast(IntegerType()).alias('customer_id'),
    customer_df_v4.first_name.alias('first_name'),
    customer_df_v4.last_name.alias('last_name'),
    customer_df_v4.address.alias('address'),
    customer_df_v4.pincode.cast(IntegerType()).alias('pincode'),
    customer_df_v4.phone_number.cast(IntegerType()).alias('phone_number'),
    customer_df_v4.customer_joining_date.cast(DateType()).alias('customer_joining_date')
)

cleaned_customer_df.show()

+-----------+----------+-------------+--------------------+-------+------------+---------------------+
|customer_id|first_name|    last_name|             address|pincode|phone_number|customer_joining_date|
+-----------+----------+-------------+--------------------+-------+------------+---------------------+
|       4986|   Balveer|    Choudhury|31/30, Devan Naga...| 799736|           0|           2021-04-20|
|       6642|    Kalpit|        Divan|15, Zacharia Naga...| 919980|           0|           2022-05-14|
|       7763|   Dominic|Radhakrishnan|834, Rajagopal Ro...| 801199|           0|           2022-02-28|
|       2420|    Raghav|    Ramaswamy|H.No. 24, Memon P...| 265985|           0|           2022-01-21|
|       8576|     Zinal| Venkataraman|832, Majumdar Roa...| 286732|           0|           2022-07-20|
|       1637|     Anita|       Barman|H.No. 88, Upadhya...| 493235|    29562838|           2020-05-18|
|       2482|    Rushil|        Datta|H.No. 84, Gera, B...| 569429|           0|           2021-09-03|
|       9456|     Zarna|        Ratti|13, Balan Street,...| 357773|           0|           2020-11-20|
|       8164|    Aachal|          Rau|H.No. 52, Nanda C...| 518831|           0|           2022-04-21|
|       7038|       Oni|        Reddy|175, Bhargava Gan...| 885357|           0|           2021-01-01|
|       4045|    Aadhya|          Jha|H.No. 854, Gulati...| 177232|           0|           2021-10-12|
|       6317|      Riya|        Bassi|23/159, Parmar Zi...| 469379|           0|           2021-05-17|
|       7841|   Jagdish|         Shan|76/97, Samra Road...| 476980|           0|           2022-07-29|
|       7350|    Gautam|        Palla|H.No. 31, Kashyap...| 172013|           0|           2021-12-04|
|       1489|     Faris|        Nigam|404, Biswas Road,...| 682816|           0|           2021-01-01|
|       3346|    Indali|        Naidu|54/055, Apte Stre...| 874973|           0|           2020-08-26|
|       8341|     Jatin|         Dhar|28/678, Luthra Ch...| 138699|           0|           2020-01-01|
|       5253|   Jagdish|        Sodhi|H.No. 57, Sarma C...| 960770|           0|           2020-04-20|
+-----------+----------+-------------+--------------------+-------+------------+---------------------+

In [25]:
cleaned_customer_df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- pincode: integer (nullable = true)
 |-- phone_number: integer (nullable = true)
 |-- customer_joining_date: date (nullable = true)